<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-lg-3 d-flex flex-column mb-4" style="justify-content: space-between;">
                <div>
                    <select id="zoneId" formControlName="zoneId_" class="form-control form-select dashboard-select-box" (change)="onZoneSelect($event)">
                        <option value="undefined" selected disabled>Select Zone</option>
                        <option *ngFor="let x of zoneList; let i = index" [value]="x.zoneId" [selected]="i == 0">{{x.zoneName}}</option>
                    </select> 
                </div>
                <div class="mt-4">
                    <select id="wcId" formControlName="wcId_" class="form-control form-select dashboard-select-box" (change)="onWcSelect($event)">
                        <option value="undefined" selected disabled>Select Wc</option>
                        <option  *ngFor="let x of wcList;let i = index" [value]="x.wcId" [selected]="i == 0">{{x.wcName}}</option>
                    </select>
                </div>
			</div>
			<div class="col-lg-9 mb-4">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-1 stat-card">
										<div>
											<div>Total Gross Weight</div>
                                            <div class="">
                                                <h4 class="mt-1 mb-0">{{totalGrossWeight}}</h4>
                                                <span class="stat-card-sub-title"></span>
                                            </div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-2 stat-card">
										<div>
											<div>Total Dry Weight</div>
											<div class="">
												<h4 class="mt-1 mb-0">{{totalDryWeight}}</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-3 stat-card">
										<div>
											<div>Total Wet Weight</div>
											<div class="">
												<h4 class="mt-1 mb-0">{{totalWetWeight}}</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3" hidden>
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-4 stat-card">
										<div>
											<div>Total</div>
											<div class="">
												<h4 class="mt-1 mb-0">40 Ton</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">Garbage report</div>
                        </div>
                        <div class="ms-auto">
                            <input type="date" name="" id="fromDate" class="form-control bg-transparent" [value]="garbageFromDate" (change)="onGarbageFromChange($event)" >
                        </div>
                        <div class="ms-auto">
                            <input type="date" name="" id="toDate" class="form-control bg-transparent" [value]="garbageToDate" (change)="onGarbageToChange($event)" >
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-46cfc0cf-8596-47ba-96b0-91a8c671c047" style="height: 200px;">{{ chart1 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">Garabage Details</div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <table class="table text-center text-white bg-transparent" style="background-image: linear-gradient(to left, #C02929 0%, #037072 100%);">
                            <thead>
                                <tr>
                                    <th class="border-end">Vehicle No</th>
                                    <th class="border-end">wc</th>
                                    <th class="border-end">Start Reading</th>
                                    <th class="border-end">End Reading</th>
                                    <th class="border-end">Gross Wt</th>
                                    <th class="border-end">Dry Wt</th>
                                    <th class="border-end">Wet Wt</th>
                                    <th class="border-end">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of garbageRes">
                                    <td class="border-end border-bottom-0">{{item.vehicleNo}}</td>
                                    <td class="border-end border-bottom-0">{{item.wcName}}</td>
                                    <td class="border-end border-bottom-0">{{item.startReading}}</td>
                                    <td class="border-end border-bottom-0">{{item.endReading}}</td>
                                    <td class="border-end border-bottom-0">{{item.grossWt}}</td>
                                    <td class="border-end border-bottom-0">{{item.dryWt}}</td>
                                    <td class="border-end border-bottom-0">{{item.wetWt}}</td>
                                    <td class="border-end border-bottom-0">{{item.tripStatusName}}</td>
                                </tr>
                                <!-- <tr>
                                    <td class="border-end border-bottom-0">Unsold</td>
                                    <td class="border-end border-bottom-0">460 KG</td>
                                    <td class="border-end border-bottom-0">1500 KG</td>
                                    <td class="border-bottom-0">1800 KG</td>
                                </tr>
                                <tr>
                                    <td class="border-end border-bottom-0">Sold</td>
                                    <td class="border-end border-bottom-0">640 KG</td>
                                    <td class="border-end border-bottom-0">1200 KG</td>
                                    <td class="border-bottom-0">800 KG</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">Compost</div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-dc7f9855-88b4-4a15-9da5-8b73646b1d46" style="height: 400px;">{{ chart2 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Garbage Report</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="fromDate" class="form-control bg-transparent"  [value]="garbageFromDate" (change)="onGarbageFromChange($event)" >
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-a4a63e7d-7c9c-4963-a345-4f2c4c1ff19a" style="height: 150px;">{{ chart3 }}</canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Vehicle</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" value="2023-05-22">
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-0b976614-b93d-402a-9605-70803089fe67" style="height: 200px;">{{ chart4 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>
<app-footer></app-footer>
