<app-header></app-header>
<main class="container-fluid">
  <div class="page-content p-3">
    <div class="row">
      <div class="col-xl-3 sidebar-parent">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-xl-9 app-content mt-4 mt-xl-0">
        <div class="card">
          <div class="card-body">
            <app-heade-dashboard-component></app-heade-dashboard-component>
          </div>
        </div>
        <div class="mt-4">
          <div class="breadcrumb">
            <a routerLink="/superadmin/dashboard"><i class="fa-solid fa-home"></i></a>
            <span class="mx-2">/</span>
            <span>Mo Khata Packaging</span>
          </div>
          <div class="mt-4">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item w-50" role="presentation">
					<button class="text-white nav-link active w-100 text-uppercase" id="trip-tab"
						data-bs-toggle="tab" data-bs-target="#trip-tab-pane" type="button" role="tab"
						aria-controls="trip-tab-pane" aria-selected="true">Mo Khata Packaging</button>
				</li>
				<li class="nav-item w-50" role="presentation">
					<button class="text-white nav-link w-100 text-uppercase" id="active-tab"
						data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab"
						aria-controls="active-tab-pane" aria-selected="false">Stock</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="p-2 border border-white tab-pane fade show active bg-secondary border-top-0" id="trip-tab-pane" role="tabpanel" aria-labelledby="trip-tab" tabindex="0">
					<div class="card rounded-0">
						<div class="card-header rounded-0">Mo Khata Packaging</div>
						<div class="card-body pb-0">
						  <form [formGroup]="form">
							<input type="hidden" name="compPackagingId" id="compPackagingId" value="0">
							<div class="row">
							  <div class="col-md-6 mb-3">
								<div class="row">
								  <div class="col-md-4 d-flex align-items-center pe-0">
									WC Name<span class="text-danger">*</span>
								  </div>
								  <div class="col-md-8">
									<select
									  name=""
									  id="wcId"
									  class="form-control form-select bg-white text-black"
									  formControlName="wcId"
									>
									  <option
										[value]="item.wcId"
										*ngFor="let item of wcList"
									  >{{ item.wcName }}</option>
									</select>
								  </div>
								</div>
							  </div>
							  <div class="col-md-6 mb-3">
								<div class="row">
								  <div class="col-md-4 d-flex align-items-center pe-0">
									No. Of Packets Issue<span class="text-danger">*</span>
								  </div>
								  <div class="col-md-8">
									<input
									  type="number"
									  min="0"
									  name=""
									  id="noOfPacketsIssue"
									  class="form-control"
									  formControlName="noOfPacketsIssue"
									/>
								  </div>
								</div>
							  </div>
							  <div class="col-md-6 mb-3">
								<div class="row">
								  <div class="col-md-4 d-flex align-items-center pe-0">
									Packaging Wt Type<span class="text-danger">*</span>
								  </div>
								  <div class="col-md-8">
									<select
									  name=""
									  id="unitId"
									  class="form-control form-select bg-white text-black"
									  formControlName="unitId"
									>
									  <option
										[value]="item"
										*ngFor="let item of packagingType"
										selected
									  >
										{{ item }}
									  </option>
									</select>
								  </div>
								</div>
							  </div>
		  
							  <div class="col-md-6 mb-3">
								<div class="row">
								  <div class="col-md-4 d-flex align-items-center pe-0">
									Price/KG<span class="text-danger">*</span>
								  </div>
								  <div class="col-md-8">
									<input
									  type="number"
									  min="0"
									  step="0.01"
									  name=""
									  id="price"
									  class="form-control"
									  formControlName="price"
									/>
								  </div>
								</div>
							  </div>
							</div>
						  </form>
						</div>
					</div>
					<div class="text-end mt-3" id="addBtnParent">
					<button class="btn btn-primary px-5 py-2" (click)="saveMrf()">
						Add
					</button>
					</div>
					<div class="text-end mt-3 d-none" id="updateBtnParent">
					<button class="btn btn-light px-5 py-2" (click)="cancel()">
						Cancel
					</button>
					<button
						class="btn btn-primary px-5 py-2"
						style="margin-left: 20px"
						(click)="updateMrf()"
					>
						Update
					</button>
					</div>
					<div class="mt-4">
						<ag-grid-angular
							class="ag-theme-alpine"
							[rowData]="rowData"
							[columnDefs]="columnDefs"
							[gridOptions]="gridOptions"
							[animateRows]="true"
							[suppressMenuHide]="true">
						</ag-grid-angular>
					</div>
				</div>
				<div class="border border-white tab-pane fade show bg-secondary border-top-0 p-3" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
					<div class="card">
						<div class="card-header">Mo Khata Stock</div>
					</div>
					<div class="mt-4">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Stock Id</th>
									<th>Package Wt Type</th>
									<th>No. of Stocks (KG)</th>
									<th>Cost/KG</th>
									<th>Total Cost</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of godownStockList">
									<td>{{ item.stockId }}</td>
                                    					<td>{{ item.packageWtType }}</td>
									<td>{{ item.noOfPackets }}</td>
									<td>{{ item.amountPerKg }}</td>
									<td>{{ item.total_cost }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
