<span class=""><h2>Private Policy</h2>

    <h4>Introduction</h4>
    
    <p>The BMC is committed to protecting your privacy and processing your personal data in accordance with the IT Act 2000. This policy explains how information we collect about you is used and kept secure, your privacy choices when using our website, and your right to access your information under the IT Act 2000.</p>
    
    <h4>The information we collect about you</h4>
    
    <p>Through our website, we may collect the following information about you:</p>
    
    <ul>
        <li>Your name, email address, postal address and any other information you voluntarily provide to us via our online enquiry forms.</li>
        <li>Your IP address (unique identifiers that computers or other devices use to identify and communicate with each other) that is automatically recognised by the web server.</li>
    </ul>
    
    <h4>How we use your information</h4>
    
    <p>We may use your personal information for a number of purposes, including:</p>
    
    <ul>
        <li>To deal with your requests and enquiries.</li>
        <li>To contact you for reasons related to your enquiry.</li>
        <li>To notify you about updates to the&nbsp;<a href="http://www.bmc.gov.in/">www.bmc.gov.in</a>&nbsp;website.</li>
        <li>To use your IP address to monitor traffic and gather browsing behaviors of visitors to our websites. We will not use your IP address to identify you in any way.</li>
    </ul>
    
    <p>Your personal information will not be used for marketing purposes or any other services unless you have specifically agreed to be contacted for these purposes.</p>
    
    <p>We will only share your personal information with a third party if required to do so by law or for the purposes of crime prevention or detection.</p>
    
    <h4>Protecting your information</h4>
    
    <p>We have appropriate technical and organisational measures in place to prevent the loss, misuse or alteration of your personal information.</p>
    
    <p>Any personal information you provide to us is stored securely on password and firewall protected servers and all website transactions are protected using Secure Sockets Layer (SSL) encryption technology.</p>
    
    <p>However, the Internet is not generally a secure medium for communication and therefore we cannot guarantee the security of any information you send to us over the Internet.</p>
    
    <h4>Finding out what information the BMC holds about you</h4>
    
    <p><br />
    Under the , you can ask to see any personal information that we hold about you. Such requests are called subject access requests.&nbsp;<br />
    <br />
    &nbsp;</p>
    
    <h3>Under IT Act, 2000</h3>
    
    <h4>Section 43</h4>
    
    <p>This section provides protection against unauthorized access of the computer system by imposing heavy penalty up to one crore. The unauthorized downloading, extraction and copying of data are also covered under the same penalty. Clause &lsquo;c&rsquo; of this section imposes penalty for unauthorized introduction of computer viruses of contaminants. Clause &lsquo;g&rsquo; provides penalties for assisting the unauthorized access.</p>
    
    <h4>Section 65</h4>
    
    <p>This section provides for computer source code. If anyone knowingly of intentionally conceals, destroys, alters or causes another to do as such shall have to suffer a penalty of imprisonment or fine up to 2 lakh rupees. Thus protection has been provided against tampering of computer source documents.</p>
    
    <h4>Section 66</h4>
    
    <p>Protection against hacking has been provided under this section. As per this section hacking is defined as any act with an intention to cause wrongful loss or damage to any person or with the knowledge that wrongful loss of damage will be caused to any person and information residing in a computer resource must be either destroyed, deleted, altered or its value and utility get diminished. This section imposes the penalty of imprisonment of three years or fine up to two lakh rupees or both on the hacker.</p>
    
    <h4>Section 70</h4>
    
    <p>This section provides protection to the data stored in the protected system. Protected systems are those computers, computer system or computer network to which the appropriate government, by issuing gazette information in the official gazette, declared it as a protected system. Any access or attempt to secure access of that system in contravention of the provision of this section will make the person accessed liable for punishment of imprisonment which may extend to ten years and shall also be liable to fine.</p>
    
    <h4>Section 72<br />
    &nbsp;</h4>
    
    <p>This section provides protection against breach of confidentiality and privacy of the data. As per this, any person upon whom powers have been conferred under IT Act and allied rules to secure access to any electronic record, book, register, correspondence, information document of other material discloses it to any other person, shall be punished with imprisonment which may extend to two years or with fine which may extend to one lakh rupees or both.</p>
    
    <h3>The Personal Data Protection Bill, 2006</h3>
    
    <p>Upon the footprints of the foreign laws, this bill has been introduced in the Rajya Sabha on December 8th 2006. The purpose of this bill is to provide protection of personal data and information of an individual collected for a particular purpose by one organization, and to prevent its usage by other organization for commercial or other purposes and entitle the individual to claim compensation or damages due to disclosure of personal data or information of any individual without his consent and for matters connected with the Act or incidental to the Act. Provisions contained in this Act are relating to nature of data to be obtained for the specific purpose and the quantum of data to be obtained for that purpose. Data controllers have been proposed to be appointed to look upon the matters relating to violation of the proposed Act.</p>
    
    <p>&nbsp;</p>
     </span>