<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-xl-3 sidebar-parent d-none d-xl-block">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
				<div class="card">
					<div class="card-body">
						<app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="">Compost Material Temporary Transit Station</a>
					</div>
					<div class="mt-4">
						<div class="card rounded-0">
							<div class="card-header rounded-0">
								Compost Material Temporary Transit Station
							</div>
							<div class="card-body">
								<form [formGroup]="form">
									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													WC Name
												</div>
												<div class="col-md-9">
													<input type="text" name="" id="" class="form-control" formControlName="wcId" readonly="true">
													
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													TTS/Drying Yard
												</div>
												<div class="col-md-9">
													<select name="" id="" class="form-control form-select bg-white text-black" formControlName="dryyardId">
														<option [value]="item.dryyardId" *ngFor="let item of dryingyardList" selected>{{item.centerName}}</option>
													</select>
												</div>
											</div>
										</div>
                                        <div class="col-md-6 mt-3">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													Material Type
												</div>
												<div class="col-md-9">
													<select name="" id="" class="form-control form-select bg-white text-black" formControlName="dryCompostWt">
														<option [value]="item.dryyardId" *ngFor="let item of dryingyardList" selected>{{item.centerName}}</option>
													</select>
													

												</div>
											</div>
											
											
										</div>
										<div class="col-md-6 mt-3">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													Date
												</div>
												<div class="col-md-9">
													<input type="date" name="" id="" class="form-control" formControlName="mrfDesc">
												</div>
												
											</div>
											
										</div>
										<div class="col-md-6 mt-3">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													Vehicle No
												</div>
												<div class="col-md-9">
													<select name="" id="" class="form-control form-select bg-white text-black" formControlName="dryCompostWt">
														<option [value]="item.dryyardId" *ngFor="let item of dryingyardList" selected>{{item.centerName}}</option>
													</select>						
												</div>
												</div>
										</div>
										<div class="col-md-6 mt-3">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													Driver Name
												</div>
												<div class="col-md-9">
													<input type="text" name="" id="" class="form-control" formControlName="description">
												</div>
											</div>
										</div>
                                        					
										<div class="col-md-6 mt-3">
											<div class="row">
												<div class="col-md-3 d-flex align-items-center pe-0">
													Descriptipn
												</div>
												<div class="col-md-9">
													<input type="text" name="" id="" class="form-control" formControlName="description">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="text-end mt-3" *ngIf="isAdd">
							<button class="btn btn-primary px-5 py-2" (click)="saveMrf()">Add</button>
						</div>
						<div class="text-end mt-3" *ngIf="isUpdate">
							<button class="btn btn-primary px-5 py-2" (click)="cancel()">Cancel</button>
							<button class="btn btn-primary px-5 py-2" style="margin-left: 20px;" (click)="updateMrf()">Update</button>
						</div>
					</div>
					<div class="mt-4">
						<table class="table table-bordered table-striped">
							<thead class="bg-primary text-white text-center">
								<tr>
									<th>Sl. No.</th>
									<th>WC Name</th>
									<th>Drying Yard</th>
									<th>Material Type</th>
									<th>Vehicle No</th>
									<th>Driver Name</th>
									<th>Description</th>
									<th>Created Date</th>
									<th>Action</th>
								</tr>
							</thead>
							 <tbody class="text-center">
                                <tr *ngFor="let x of list; index as i;">
                                        <td>{{ i + 1}}</td>
                                        <td>{{ x.wc?.wcName || '--' }}</td>
                                        <td>{{ x.dryingyard?.centerName || '--' }}</td>
					<td>Garbage</td>
                                        <td>OD21BF7055</td>
					                              <td>Sujaoy Ghosh</td>
                                        <td>{{ x.description || '--' }}</td>

                                        <td>{{ x.createdDate | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td
                                                class="d-flex align-items-center gap-1 justify-content-center">
                                                <button class="btn btn-primary btn-sm" (click)="updateData(x)">
                                                        <i class="fa-solid fa-edit"></i>
                                                </button>
                                                <button (click)="remove(x.mrfTrnsId)" class="btn btn-danger btn-sm">
                                                        <i class="fa-solid fa-trash-alt"></i>
                                                </button>
                                        </td>
                                </tr>
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>
