<app-header></app-header>

<!-- Commented the old modal and added the new modal below-->
<!-- Modal -->
<!-- <div class="modal" id="pitenzymeModal"  tabindex="-1" aria-labelledby="pitModalLabel" aria-hidden="true" 

<!-- Commented the old modal and added the new modal below-->

<!-- New pit view modal started from here-->
   

<!-- New pit view modal started from here-->

<div class="modal" id="pitenzymeModal" tabindex="-1" aria-labelledby="pitModalLabel" aria-hidden="true"
    [style.display]=" pitmodalstatus  ? 'block':'none'">
    <div class="modal-dialog modal-lg modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pitModalLabel">{{pitName}}</h1>
            </div>
            <form [formGroup]="form">
            <div class="modal-body p-0">
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <h6 class="text-danger"> <i class="fa fa-info-circle" aria-hidden="true"></i> {{activeNotification}}.</h6>
                        <input  type="hidden"  id="batchId_" formControlName="batchIdVal">
                        <input  type="hidden"  id="pitId_"  formControlName="pitIdVal">
                        <input  type="hidden"  id="pitId_"  formControlName="stageCodeVal">
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="col-md-6 d-flex row text-center"  aria-hidden="true" >
                        <div class="col-md-3 d-flex align-items-center justify-content-center" [style.display]=" pitMixStatus  ? 'block':'none'" >Mixture of Two PITS</div>
                        <div class="col-md-3 pe-6" [style.display]=" pitMixStatus  ? 'block':'none'">
                            <p> PIT Mixed From</p>
                            <div class="d-flex" >
                                <div class="input-group date">
                                     <input type="text" class="form-control text-dark" placeholder="" *ngIf="clickedPit != undefined"  value ="{{clickedPit.pitName}}" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pe-3"  [style.display]=" pitMixStatus  ? 'block':'none'">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <!-- <select name="" id="" class="form-control">
                                        <option value="">select Half empty pit</option>
                                    </select> -->
                                <div class="col-md-10"><label> &nbsp; PIT Mixed To </label></div>
                                <div class="select">
                                        <select class = "form-control text-dark mt-3" name="mixThisPitwithSelected" (change)="getSelected($event)">
                                            <option value = "">--Select pit mix up to--</option>
                                            <option *ngFor="let pitmixedup of yellowPitarr" [value]="pitmixedup.pitId">
                                                {{pitmixedup.pitName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row text-primary mt-2">
                        <h6 class="ms-4">PIT Information</h6>
                    </div>
                </div>
                <div class="border-bottom py-2" [style.display]=" isEventNeeded  ? 'block':'none'">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Segregation</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox"  id="segregation" (change)="onActiveStatusChange($event,'segregation')" formControlName="segregationCrt">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Shreading</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="shreding"
                                    (change)="onActiveStatusChange($event,'shreading')" formControlName="shreadingCrt">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2" [style.display]=" isEventNeeded  ? 'block':'none'">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Visual Inspection</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="visualinspection" (change)="onActiveStatusChange($event,'visuaInspection')" formControlName="visualInspectionCrt">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Transfer to PIT</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" formControlName="transfertoPITCrt">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-bottom py-2" [style.display]=" isEventNeeded  ? 'block':'none'">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">PIT Fillup Status</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="pitfillupstatus"
                                    (change)="onActiveStatusChange($event,'isFilledUp')" formControlName="pitFillupStatusCrt">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3 pb-1 w-100 ms-0 px-2">
                    <div class="col-md-6 mb-3">
                        <div class="form-group d-flex">
                            <label for="" class="form-label d-flex align-items-center mb-0" style="min-width: 50%;">EM Solution Qty</label>
                            <div>
                                <div class="input-group">
                                    <input type="number" min="0" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1" name="mixedEnzymeWt" id="mixedEnzymeWtId" class="form-control text-dark"  id="mixedenzyme" formControlName="mixedEnzymeWtCrt">
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Ltr
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group d-flex">
                            <label for="" class="form-label d-flex align-items-center mb-0" style="min-width: 50%;">Mo Khata (Wt.)</label>
                            <div>
                                <div class="input-group">
                                    <input type="number"  min="0" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1" name="filledGarbageWt" id="filledGarbageWtId" class="form-control text-dark"  formControlName="filledGarbageWtCrt">
                                    <div class="input-group-text bg-light" id="filledgardbagewt">
                                        <span>
                                            Kg
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group d-flex">
                            <label for="" class="form-label d-flex align-items-center mb-0" style="min-width: 50%;">Cocopeat mixed Qty</label>
                            <div>
                                <div class="input-group">
                                    <input type="number"  min="0" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1" name="cocopeatMixedQtyName" id="cocopeatMixedQty" class="form-control text-dark"  formControlName="cocopeatCrt">
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Kg
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group d-flex">
                            <label for="" class="form-label d-flex align-items-center mb-0" style="min-width: 50%;">Rice & Husk Qty</label>
                            <div>
                                <div class="input-group">
                                    <input type="number"  min="0" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1" name="" id="inertMaterialMxedQty" class="form-control text-dark"  formControlName="inertMaterialCrt"> 
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Kg
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>   
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closePitActivityModalstatus()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="executeUpdateStatusByPitCurrentStatus()"  [style.display]=" isEventNeeded  ? 'block':'none'"   >Submit</button>
            </div>
        </div>
    </div>
</div>


<main class="container-fluid">
    <div class="modal-dialog modal-dialog-centered">

    </div>
    <div class="page-content p-3">
        <div class="row">
			<div class="col-xl-3 sidebar-parent ">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
                <div class="card">
                    <div class="card-body">
                        <!-- <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-1 stat-card">
                                        <div>
                                            <div>PIT Quantum</div>
                                            <h4 class="mt-2">1 TON</h4>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-regular fa-file-lines"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-2 stat-card">
                                        <div>
                                            <div>Empty PIT</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">13</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-solid fa-receipt"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-3 stat-card">
                                        <div>
                                            <div>PIT</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">1</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-regular fa-circle-check"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-4 stat-card">
                                        <div>
                                            <div>Assigned To Me</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">3</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-solid fa-user-plus"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <app-heade-dashboard-component></app-heade-dashboard-component>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="breadcrumb">
                        <a routerLink=""><i class="fa-solid fa-home"></i></a>
                        <span class="mx-2">/</span>
                        <a routerLink="/superadmin/mcc/pit-view">MCC - {{tabName}}</a>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item w-100" role="presentation">
                            <button class="nav-link active w-100 text-uppercase text-white" data-bs-toggle="tab"
                                data-bs-target="#pitview-tab-pane" type="button" role="tab"
                                aria-controls="pitview-tab-pane" aria-selected="true" (click)="showPitView()">{{selectedWcName}}</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active bg-secondary border border-white border-top-0 p-5"
                            id="pitview-tab-pane" role="tabpanel" aria-labelledby="pitview-tab" tabindex="0"
                            *ngIf="showPitTabView">
                            <div class="pit-view">

                                <div class="pit-item" *ngFor="let pit of allPitbyMcc.responseBody">
                                    <div class="pit-icon">
                                        <input type="text" value="{{pit.pitId}}" name="pitId" hidden>
                                        <img src="{{pit.pitStatus.activityColr}}" alt="Pit Icon"
                                            (click)="showPitmodalstatus(pit)" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count" *ngIf="greaterThan(pit)" >{{pit.daysCounter}}</span>
                                        </div>
                                    </div>
                                    <div class="pit-label" data-bs-toggle="modal"
                                      (click)="onFetchPitHistoryDetails(pit)">
                                        {{pit.pitName}}
                                    </div>
                                    <div height="20px"></div>
                                    <div class="pit-warning" *ngIf="pit.pitStatus.isEventNeeded == true">
                                        <img src="/assets/images/icons/warning.png" alt="Pit Warning"
                                            (click)="onFetchPitHistoryDetails(pit)" data-bs-target="#pitenzymeModal" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <app-today-task id="todayview-tab-pane" *ngIf="showTodayTaskView"></app-today-task>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" [style.display]=" pitHistoryStatus  ? 'block':'none'">
    <div class="modal-dialog modal-xl">
        <form [formGroup]="formhistory">
        <div class="modal-content">
            <div class="modal-header bg-blue text-white">
                <h1 class="modal-title fs-5  fw-bold" id="exampleModalLabel">{{pitName}}</h1>
                <input type="hidden"  id = "pitId"  class="form-control text-dark" formControlName="pitIdForm">
                <input type="hidden"  id = "batchId" class="form-control text-dark" formControlName="batchIdForm">
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"  (click)="onCloseOfHistory()"></button>
            </div>
            <div class="modal-body px-4">
              
                <div class="text-center d-flex align-items-center border-bottom pb-2">
                    <div class="pit-form-header"></div>
                    <div class="pit-form-header fw-bold">Filling</div>
                    <div class="pit-form-header fw-bold">Transfer<br /><small [style.display]=" expectedTrMix  ? 'block':'none'" >(Expected)</small></div>
                    <div class="pit-form-header fw-bold">1st Turn<br /><small [style.display]=" expectedTrFirstTurn  ? 'block':'none'">(Expected)</small></div>
                    <div class="pit-form-header fw-bold">2nd Turn<br /><small [style.display]=" expectedTrSecondTurn  ? 'block':'none'">(Expected)</small></div>
                </div>
                <div class="text-center d-flex align-items-center py-2 border-bottom">
                    <div class="pit-form-header text-start fw-bold">Date</div>
                    <div class="pit-form-header"><input type="text" name="filling" id="fillingId" class="form-control text-dark" formControlName="fillingDtId" readonly></div>
                    <div class="pit-form-header"><input type="text" name="mixing" id="mixingId" class="form-control text-dark" formControlName="mixingDtId" readonly></div>
                    <div class="pit-form-header"><input type="text" name="firstTurn" id="firstTurnId" class="form-control text-dark" formControlName="firstTurnDtId" readonly></div>
                    <div class="pit-form-header"><input type="text" name="secondTurn" id="secondTurnId" class="form-control text-dark" formControlName="secondTurnDtId" readonly></div>
                </div>
                <div class="text-center d-flex align-items-center py-2 border-bottom">
                    <div class="pit-form-header text-start fw-bold">Rice & Husk</div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="inertFillingMt" id="inertFillingMtId" class="form-control text-dark" formControlName="inertFillingMtFormId" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="inertMixingMt" id="inertMixingMtId" class="form-control text-dark" formControlName="inertMixingMtFormId" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="inertFirstTurnMt" id="inertFirstTurnMtId" class="form-control text-dark" formControlName="inertFirstTurnMtFormId" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="inertSecondTurn" id="inertSecondTurnId" class="form-control text-dark" formControlName="inertSecondTurnMtFormId" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center d-flex align-items-center py-2 border-bottom">
                    <div class="pit-form-header text-start fw-bold">EM Solution</div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="mixedEnzymeId" class="form-control text-dark" formControlName="mixedEnzymeFillingForm" readonly>
                            <div class="input-group-text">
                                Litre
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="mixedEnzymeIdmix" class="form-control text-dark" formControlName="mixedEnzymeMixingForm" readonly>
                            <div class="input-group-text">
                                Litre
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="mixedEnzymeFirstTurnForm" readonly>
                            <div class="input-group-text">
                                Litre
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="mixedEnzymeSecondTurnForm" readonly>
                            <div class="input-group-text">
                                Litre
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center d-flex align-items-center py-2 border-bottom">
                    <div class="pit-form-header text-start fw-bold">Cocopeat</div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="cocopeatFillingForm" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="cocopeatMixingForm" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="cocopeatFirstTurnForm" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="cocopeatSecondTurnForm" readonly>
                            <div class="input-group-text">
                                KG
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center d-flex align-items-center py-2 border-bottom">
                    <div class="pit-form-header text-start fw-bold">Mo Khata (Wt.)</div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="filledGarbageFillingForm" readonly>
                            <div class="input-group-text">
                                Ton
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="filledGarbageMixingForm" readonly>
                            <div class="input-group-text">
                                Ton
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="filledGarbageFirstTurnForm" readonly>
                            <div class="input-group-text">
                                Ton
                            </div>
                        </div>
                    </div>
                    <div class="pit-form-header">
                        <div class="input-group">
                            <input type="text" name="" id="" class="form-control text-dark" formControlName="filledGarbageSecondTurnForm" readonly>
                            <div class="input-group-text">
                                Ton
                            </div>
                        </div>
                    </div>
                </div>
         
            </div>
            <div class="modal-footer bg-lightblue text-white">
                <div class="row w-100">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="fw-bold">Mo Khata</div>
                            <div class="ms-2"><input type="text" name="compostdataName" id="compostdataId" class="form-control bg-white text-dark"  formControlName="expectedDateOfCompostForm" readonly></div>
                        </div>
                    </div>
                    <div class="col-md-6" hidden>
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">Total Compost</div>
                            <div class="ms-2">
                                <div class="input-group">
                                    <input type="text" name="" id="" class="form-control text-dark bg-white" formControlName="totalCompostForm" >
                                    <div class="input-group-text">
                                        Ton
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<app-footer></app-footer>