<app-header></app-header>


<!-- Modal -->
<!-- <div class="modal" id="pitenzymeModal"  tabindex="-1" aria-labelledby="pitModalLabel" aria-hidden="true" 
    [style.display]="pitmodalstatus ? 'block':'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pitModalLabel">PIT QUANTUM 3 TON</h5>
                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Segregation :
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="segregation"
                                (change)="onActiveStatusChange($event,'segregation')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Visual Inspection :
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="visualinspection"
                                (change)="onActiveStatusChange($event,'visuaInspection')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Mixed of enzymes:
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="mixedenzyme"
                                (change)="onActiveStatusChange($event,'mixedEnzyme')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Shreding:
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="shreding"
                                (change)="onActiveStatusChange($event,'shreading')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Transfer to Pit:
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="transfertopit"
                                (change)="onActiveStatusChange($event,'tranferToPit')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Pit Fillup Status :
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="pitfillupstatus"
                                (change)="onActiveStatusChange($event,'isFilledUp')">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <Label>
                            Inert Material :
                        </Label>
                    </div>
                    <div class="col-lg-6">
                        <input type="number" required name="insertmaterial" min="0" value="0" step=".01"
                        style="color: #000000;" lass="form-control" id="insertmaterial"
                        placeholder="Enter the InertbMaterial weight"> QTM
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePitmodalstatus()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitRequestForInit()">Submit</button>
            </div>
        </div>
    </div>
</div> -->



<!-- New pit view modal started from here-->

<div class="modal" id="pitenzymeModal" tabindex="-1" aria-labelledby="pitModalLabel" aria-hidden="true"
    [style.display]=" pitmodalstatus || activityModal  ? 'block':'none'">
    <div class="modal-dialog modal-lg modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="pitModalLabel">PIT QUANTUM 3 TON</h1>
            </div>
            <div class="modal-body p-0">
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <h6 class="text-danger"> <i class="fa fa-info-circle" aria-hidden="true"></i> {{activeNotification}}.</h6>
                    </div>
                </div>
                <div class="border-bottom py-2">
                   
                   <!-- Section for mix pits here -->

                    <!-- <div class="row text-center"  aria-hidden="true" [style.display]="activityMixedUpModal ? 'block':'none'">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Mixture of Two PITS</div>
                        <div class="col-md-3 pe-3">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control" placeholder="PIT 1"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 p-0 w-10">
                            <div class="d-flex">
                                +
                            </div>
                        </div>
                        <div class="col-md-3 pe-3">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <select name="" id="" class="form-control">
                                        <option value="">select Half empty pit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->
                      <!-- Section for mix pits end here -->



                    <div class="row text-primary mt-2">
                        <h6 class="ms-4">PIT Information</h6>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Segregation</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox"  id="segregation" (change)="onActiveStatusChange($event,'segregation')">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Shreading</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="shreding"
                                    (change)="onActiveStatusChange($event,'shreading')">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Visual Inspection</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="visualinspection" (change)="onActiveStatusChange($event,'visuaInspection')">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Transfer to PIT</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Enzyme Consumed Qty</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="" id="" class="form-control form-control-sm"  id="mixedenzyme">
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Litter
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">PIT Fillup Status</div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center pe-5">
                            <div class="toggle-button-cover">
                                <div id="switch-button" class="button r">
                                    <input class="checkbox" type="checkbox" id="pitfillupstatus"
                                    (change)="onActiveStatusChange($event,'isFilledUp')">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Filled Garbage Wt.</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="" id="filledGarbageWt" class="form-control form-control-sm" >
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Ton
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Date of 1st Filling</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="dateOfFirstFilling" value="{{responseBodyT.filledUpDate}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Filled Garbage Wt.</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="" id="" class="form-control form-control-sm">
                                    <div class="input-group-text bg-light" id="filledgardbagewt">
                                        <span>
                                            Ton
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Date of 1st Mixup</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="dateOfFirstMixedup" value="{{responseBodyT.firstDayMixedUp}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Cocopeat mixed Qty</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="cocopeatMixedQtyName" id="cocopeatMixedQty" class="form-control form-control-sm">
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Kg
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">First Turn Date</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="firstTurnDate" value="{{responseBodyT.firstTurnDate}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Innert material mixed Qty
                        </div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="" id="inertMaterialMxedQty" class="form-control form-control-sm"> 
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Ton
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Second Turn Date</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control"  id="secondTurnDate" value="{{responseBodyT.secondTurnDate}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom py-2">
                    <div class="row text-center">
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Total compost Generated
                        </div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group">
                                    <input type="text" name="" id="totalCompostGen" class="form-control form-control-sm">
                                    <div class="input-group-text bg-light">
                                        <span>
                                            Kg
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex align-items-center justify-content-center">Compositing Date</div>
                        <div class="col-md-3 pe-5">
                            <div class="d-flex">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="compostDate" value="{{responseBodyT.compostingDate}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closemodal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitRequestForInit()">Submit</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal" id="activityModal" role="dialog" tabindex="-1" aria-labelledby="activityModal" aria-hidden="true"
    [style.display]="activityModal ? 'block':'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModal"> PIT Activity Status </h5>
              
            </div>
            <div class="modal-body">

                <p>{{activeNotification}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePitActivityModalstatus()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitPitUpdateStatusRequest()"
                    *ngIf="actionRequired == true">Confirm</button>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal -->
<div class="modal" id="activityMixedUpModal" role="dialog" tabindex="-1" aria-labelledby="activityModal"
    aria-hidden="true" [style.display]="activityMixedUpModal ? 'block':'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activityModal">PIT Mixed Up Activity</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closePitMixedUpModalstatus()"></button> -->
            </div>
            <div class="modal-body">
                <div class="grid">
                    <div class="grid__col-5">
                        <p> Please mix the pit name {{pitClicked}} to the below Selected PIT</p>
                        <div class="input-group">
                            <label> Select the pit Mixed Up To &nbsp;</label>
                            <div class="select">
                                <select name="mixThisPitwithSelected" (change)="getSelected($event)">
                                    <option *ngFor="let pitmixedup of yellowPitarr" [value]="pitmixedup.pitId">
                                        {{pitmixedup.pitName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closePitMixedUpModalstatus()">Close</button>
                <button type="button" class="btn btn-primary" (click)="onSubmitPitUpdateStatusRequest()">Submit</button>
            </div>
        </div>
    </div>
</div>



<main class="container-fluid">
    <div class="modal-dialog modal-dialog-centered">
        
    </div>
    <div class="page-content p-3">
        <div class="row">
            <div class="col-lg-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-1 stat-card">
                                        <div>
                                            <div>PIT Quantum</div>
                                            <h4 class="mt-2">1 TON</h4>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-regular fa-file-lines"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-2 stat-card">
                                        <div>
                                            <div>Empty PIT</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">13</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-solid fa-receipt"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-3 stat-card">
                                        <div>
                                            <div>PIT</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">1</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-regular fa-circle-check"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body d-flex w-100 align-items-center card-4 stat-card">
                                        <div>
                                            <div>Assigned To Me</div>
                                            <div class="d-flex align-items-end gap-2">
                                                <h4 class="mt-2">3</h4>
                                                <span class="stat-card-sub-title">Quality</span>
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="stat-card-icon">
                                                <i class="fa-solid fa-user-plus"></i>
                                            </div>
                                            <div class="mt-2 text-center">
                                                <i class="fa-solid fa-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="breadcrumb">
                        <a routerLink=""><i class="fa-solid fa-home"></i></a>
                        <span class="mx-2">/</span>
                        <a routerLink="/superadmin/mcc/pit-view">MCC - {{tabName}}</a>
                    </div>
                </div>
                <div class="mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item w-100" role="presentation">
                            <button class="nav-link active w-100 text-uppercase text-white" data-bs-toggle="tab"
                                data-bs-target="#pitview-tab-pane" type="button" role="tab"
                                aria-controls="pitview-tab-pane" aria-selected="true" (click)="showPitView()">Pit
                                View</button>
                        </li>
                        <!-- <li class="nav-item w-50" role="presentation"> -->
                            <!-- <button class="nav-link w-100 text-uppercase text-white" data-bs-toggle="tab"
                                data-bs-target="#todayview-tab-pane" type="button" role="tab"
                                aria-controls="todayview-tab-pane" aria-selected="false" (click)="showTodayTask()">Today
                                Task</button>
                        </li> -->
                    </ul>
                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active bg-secondary border border-white border-top-0 p-5"
                            id="pitview-tab-pane" role="tabpanel" aria-labelledby="pitview-tab" tabindex="0"
                            *ngIf="showPitTabView">
                            <div class="pit-view">
                          
                                <div class="pit-item" *ngFor="let pit of allPitbyMcc.responseBody">
                                    <div class="pit-icon">
                                        <input type="text" value="{{pit.pitId}}" name="pitId" hidden>
                                        <img src="{{pit.pitStatus.activityColr}}" alt="Pit Icon"
                                            (click)="showPitmodalstatus(pit)" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">14</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        {{pit.pitName}}
                                    </div>
                                    <div height="20px"></div>
                                    <div class="pit-warning" *ngIf="pit.pitStatus.isNotfEnable == 1">
                                        <img src="/assets/images/icons/warning.png" alt="Pit Warning"
                                            (click)="showPitmodalstatus(pit)" data-bs-target="#pitenzymeModal" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <app-today-task id="todayview-tab-pane" *ngIf="showTodayTaskView"></app-today-task>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>