<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-lg-3">
				<app-sidebar></app-sidebar>
			</div>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-1 stat-card">
										<div>
											<div>PIT Quantum</div>
											<h4 class="mt-2">1 TON</h4>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-file-lines"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-2 stat-card">
										<div>
											<div>Empty PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">13</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-receipt"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-3 stat-card">
										<div>
											<div>PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">1</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-circle-check"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-4 stat-card">
										<div>
											<div>Assigned To Me</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">3</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-user-plus"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="/superadmin/mcc/pit-view">MCC - Pit View</a>
					</div>
				</div>
                <div class="mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link active w-100 text-uppercase text-white" id="pitview-tab" data-bs-toggle="tab" data-bs-target="#pitview-tab-pane" type="button" role="tab" aria-controls="pitview-tab-pane" aria-selected="true">Pit View</button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link w-100 text-uppercase text-white" id="todayview-tab" data-bs-toggle="tab" data-bs-target="#todayview-tab-pane" type="button" role="tab" aria-controls="todayview-tab-pane" aria-selected="false">Today View</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active bg-secondary border border-white border-top-0 p-5 pb-0" id="pitview-tab-pane" role="tabpanel" aria-labelledby="pitview-tab" tabindex="0">
                            <div class="pit-view">
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-free.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">14</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 1
                                    </div>
                                    <div class="pit-warning">
                                        <img src="/assets/images/icons/warning.png" alt="Pit Warning" />
                                    </div>
                                </div>
                                <div class="pit-item" >
                                    <div class="pit-icon" data-bs-toggle="modal" data-bs-target="#pitModal">
                                        <img src="/assets/images/icons/recycling-bin-empty.png" alt="Pit Icon" />
                                    </div>
                                    <div class="pit-label">
                                        PIT 2
                                    </div>
                                    <div class="modal fade" id="pitModal" tabindex="-1" aria-labelledby="pitModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="pitModalLabel">PIT Initial Input</h1>
                                                </div>
                                                <div class="modal-body p-0">
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">Segregation</div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">Visual Inspection</div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center position-relative">
                                                                <span class="position-relative">
                                                                    Mixed of Enzyme <i class="fa-solid fa-info-circle text-danger" style="font-size: 11px; top: -4px; position: absolute; top: 0; right: -12px;" (click)="displayPopover()"></i>
                                                                </span>
                                                                <div class="popover-item">
                                                                    <div class="popover-item-title">
                                                                        EM Solution / Bacteriological Culture
                                                                    </div>
                                                                    <div class="popover-item-body">
                                                                        <div class="py-3">
                                                                            <h4>Water 1000 Litres</h4>
                                                                            <h4>Jaggery 5 KG</h4>
                                                                            <h4>Curd 3 KG</h4>
                                                                        </div>
                                                                        <div class="text-justify">
                                                                            Effective Microorganisms (EM) are mixed cultures of beneficial naturally-occurring organisms that can be applied as inoculants to increase the microbial diversity of soil ecosystem. They consist mainly of the photosynthesizing bacteria, lactic acid bacteria, yeasts, actinomycetes and fermenting fungi
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">Shreading</div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">Transfer to PIT</div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="border-bottom py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">PIT Fillup Status</div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center pe-5">
                                                                <div class="toggle-button-cover">
                                                                    <div id="switch-button" class="button r">
                                                                      <input class="checkbox" type="checkbox">
                                                                      <div class="knobs"></div>
                                                                      <div class="layer"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="py-2">
                                                        <div class="row text-center">
                                                            <div class="col-md-6 d-flex align-items-center justify-content-center">Inert Material</div>
                                                            <div class="col-md-6 pe-5">
                                                                <div class="d-flex">
                                                                    <div class="input-group">
                                                                        <input type="text" name="" id="" class="form-control form-control-sm">
                                                                        <div class="input-group-text bg-danger text-white">
                                                                            <span>
                                                                                QTM
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer d-flex justify-content-center">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-free.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">12</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 3
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-empty.png" alt="Pit Icon" />
                                    </div>
                                    <div class="pit-label">
                                        PIT 4
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-free.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">10</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 5
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-empty.png" alt="Pit Icon" />
                                    </div>
                                    <div class="pit-label">
                                        PIT 6
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-free.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">8</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 7
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-empty.png" alt="Pit Icon" />
                                    </div>
                                    <div class="pit-label">
                                        PIT 8
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-half.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">6</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 9
                                    </div>
                                    <div class="pit-warning">
                                        <img src="/assets/images/icons/warning.png" alt="Pit Warning" />
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">5</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 10
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">4</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 11
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">3</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 12
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">2</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 13
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">1</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 14
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">3</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 15
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">2</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 16
                                    </div>
                                </div>
                                <div class="pit-item">
                                    <div class="pit-icon">
                                        <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                        <div class="pit-icon-timer">
                                            <img src="/assets/images/icons/stopwatch.png" alt="" />
                                            <span class="pit-icon-timer-count">1</span>
                                        </div>
                                    </div>
                                    <div class="pit-label">
                                        PIT 17
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade bg-secondary border border-white border-top-0 p-5" id="todayview-tab-pane" role="tabpanel" aria-labelledby="todayview-tab" tabindex="0">
                            <div class="row">
                                <div class="col-md-8 mx-auto">
                                    <div class="pit-view">
                                        <div class="pit-item today">
                                            <div class="pit-icon">
                                                <img src="/assets/images/icons/recycling-bin-empty.png" alt="Pit Icon" />
                                            </div>
                                            <div class="pit-label">
                                                4
                                            </div>
                                        </div>
                                        <div class="pit-item today">
                                            <div class="pit-icon">
                                                <img src="/assets/images/icons/recycling-bin-full.png" alt="Pit Icon" />
                                            </div>
                                            <div class="pit-label">
                                                3
                                            </div>
                                        </div>
                                        <div class="pit-item today">
                                            <div class="pit-icon">
                                                <img src="/assets/images/icons/recycling-bin-free.png" alt="Pit Icon" />
                                            </div>
                                            <div class="pit-label">
                                                4
                                            </div>
                                        </div>
                                        <div class="pit-item today">
                                            <div class="pit-icon">
                                                <img src="/assets/images/icons/recycling-bin-shift.png" alt="Pit Icon" />
                                            </div>
                                            <div class="pit-label">
                                                3
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="pit-today-view-head">
                                        <div>PIT No.</div>
                                        <div>Status</div>
                                        <div>Task</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">1</div>
                                        <div class="postponed">
                                            <div>Postponed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="turn">Turn</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">2</div>
                                        <div class="cancel">
                                            <div>Cancel</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="empty">Empty</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">3</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="fill">Fill</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">4</div>
                                        <div class="postponed">
                                            <div>Postponed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="turn">Turn</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">5</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="empty">Empty</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">6</div>
                                        <div class="cancel">
                                            <div>Cancel</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="fill">Fill</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">7</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="shift">Shift</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pit-today-view-head">
                                        <div>PIT No.</div>
                                        <div>Status</div>
                                        <div>Task</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">8</div>
                                        <div class="postponed">
                                            <div>Postponed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="turn">Turn</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">9</div>
                                        <div class="cancel">
                                            <div>Cancel</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="empty">Empty</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">10</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="shift">Shift</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">11</div>
                                        <div class="postponed">
                                            <div>Postponed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="fill">Fill</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">12</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="turn">Turn</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">13</div>
                                        <div class="completed">
                                            <div>Completed</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="shift">Shift</div>
                                    </div>
                                    <div class="today-item">
                                        <div class="day-no">14</div>
                                        <div class="cancel">
                                            <div>Cancel</div>
                                            <div class="ms-auto pe-2">
                                                <i class="fa-solid fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="empty">Empty</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>
