<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-lg-3 d-flex flex-column mb-4" style="justify-content: space-between;">
                <form [formGroup]="form">
                <div>
                    <select id="zoneId" formControlName="zoneId_" class="form-control form-select dashboard-select-box" (change)="onZoneSelect($event)">
                        <option value="undefined" selected disabled>Select Zone</option>
                        <option *ngFor="let x of zoneList; let i = index" [value]="x.zoneId" [selected]="i == 0">{{x.zoneName}}</option>
                    </select> 
                </div>
                <div class="mt-4">
                    <select id="wcId" formControlName="wcId_" class="form-control form-select dashboard-select-box" (change)="onWcSelect($event)">
                        <option value="undefined" selected disabled>Select Wc</option>
                        <option  *ngFor="let x of wcList;let i = index" [value]="x.wcId" [selected]="i == 0">{{x.wcName}}</option>
                    </select>  
                </div>
            </form>
			</div>
			<div class="col-lg-9 mb-4">
				<div class="card">
					<div class="card-body">
						<!-- <div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-1 stat-card">
										<div>
											<div>Stock</div>
                                            <div class="">
                                                <h4 class="mt-1 mb-0">20 TON</h4>
                                                <span class="stat-card-sub-title">Quantity</span>
                                            </div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-2 stat-card">
										<div>
											<div>Packed</div>
											<div class="">
												<h4 class="mt-1 mb-0">14 Ton</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-3 stat-card">
										<div>
											<div>Sold</div>
											<div class="">
												<h4 class="mt-1 mb-0">6 Ton</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-end card-4 stat-card">
										<div>
											<div>Total</div>
											<div class="">
												<h4 class="mt-1 mb-0">40 Ton</h4>
												<span class="stat-card-sub-title">Quantity</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div> -->
                        <app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
			</div>
            <div class="col-lg-4 mb-4">
                <div class="card mb-4 h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                       
                            <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Inventory</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" [value]="inventoryDate" (change)="onInventoryChange($event)">
                            </div>
                        </div>
                       
                    </div>
                    <div class="card-body px-4 pb-3">
                        <a routerLink="/superadmin/portal-dashboards/dashboard-one" class="home-card home-card-2">
                        <div class="">
                            <canvas id="chart-029ea4bc-fac1-4296-b731-25bb7c6598ac" style="height: 150px;">{{ chart5 }}</canvas>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Compost</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" value="2023-05-22">
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <a routerLink="/superadmin/portal-dashboards/dashboard-three" class="home-card home-card-2">
                        <div class="">
                            <canvas id="chart-df4617c3-18be-4737-9299-849235eb3bae" style="height: 200px;">{{ chart1 }}</canvas>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center">
                            <div class="fw-bold">Material Recovery Facility</div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <a routerLink="/superadmin/portal-dashboards/dashboard-two" class="home-card home-card-2">
                        <table class="table text-center text-white bg-transparent" style="background-image: linear-gradient(to left, #C0252F 0%, #3339A6 100%);">
                            <thead>
                                <tr>
                                    <th class="border-end">MRF Product Status</th>
                                    <th class="border-end">Today</th>
                                    <th class="border-end">This Week</th>
                                    <th>This Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of mrfReportList">
                                    <td class="border-end border-bottom-0">{{item.goodsName}}</td>
                                    <td class="border-end border-bottom-0">{{item.dailyMrfValue}} KG</td>
                                    <td class="border-end border-bottom-0">{{item.weeklyMrfValue}} KG</td>
                                    <td class="border-bottom-0">{{item.monthlyMrfValue}} KG</td>
                                </tr>
                                
                            </tbody>
                        </table>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Total Garbage Collection</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" value="2023-05-22">
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-1cdc1de6-f9e7-4552-aab7-9095e7771004" style="height: 400px;">{{ chart2 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Man Power</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" value="2023-05-22">
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-3dd8c851-105e-4d7e-baba-f8c791c531c5" style="height: 150px;">{{ chart3 }}</canvas>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header rounded-0 border-0 px-4 pt-3 d-flex" style="justify-content: space-between;">
                        <div class="d-flex align-items-center w-100">
                            <div class="fw-bold">Vehicle</div>
                            <div class="ms-auto">
                                <input type="date" name="" id="" class="form-control bg-transparent" value="2023-05-22">
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-4 pb-3">
                        <div class="">
                            <canvas id="chart-76208973-b156-4bb3-a474-b6c12f7f5ff7" style="height: 200px;">{{ chart4 }}</canvas>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>
<app-footer></app-footer>
