<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-xl-3 sidebar-parent ">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
				<div class="card">
					<div class="card-body">
						<app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="">Mo Khata Move to Godown</a>
					</div>
                </div>
                <div class="mt-4">
                    <div class="card rounded-0">
                        <div class="card-header rounded-0">
                            Mo Khata Move to Godown
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Drying Area</div>
                                        <div class="col-md-9">
                                            <select name="" id="" class="form-control form-select bg-transparent text-white">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Godown</div>
                                        <div class="col-md-9">
                                            <select name="" id="" class="form-control form-select bg-transparent text-white">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Vehicle No</div>
                                        <div class="col-md-9">
                                            <select name="" id="" class="form-control form-select bg-transparent text-white">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Driver Name</div>
                                        <div class="col-md-9">
                                            <select name="" id="" class="form-control form-select bg-transparent text-white">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Package Wt</div>
                                        <div class="col-md-9">
                                            <select name="" id="" class="form-control form-select bg-transparent text-white">
                                                <option value="">Select</option>
                                            </select>
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Package Cost</div>
                                        <div class="col-md-9">
                                            <input type="number" name="" id="" class="form-control">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">No. of Packets</div>
                                        <div class="col-md-9">
                                            <input type="number" name="" id="" class="form-control">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Total Cost</div>
                                        <div class="col-md-9">
                                            <input type="number" name="" id="" class="form-control">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Date</div>
                                        <div class="col-md-9">
                                            <input type="date" name="" id="" class="form-control">
                                        </div>
                                    </div>    
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-3 d-flex align-items-center pe-0">Description</div>
                                        <div class="col-md-9">
                                            <input type="text" name="" id="" class="form-control">
                                        </div>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button class="btn btn-primary px-5 py-2">ADD</button>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="p-2 d-md-flex align-items-center justify-content-start justify-content-md-end flex-wrap gap-4 border border-b-0" style="background-color: #2B2C4B;">
                        <div class="d-flex align-items-center gap-2 mb-3 mb-md-0">
                            <div style="min-width: max-content;">Package Wt.</div>
                            <select name="" id="" class="form-control" style="min-width: 150px;">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-3 mb-md-0">
                            <div style="min-width: max-content;">Godown</div>
                            <select name="" id="" class="form-control" style="min-width: 150px;">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="d-flex align-items-center gap-2 mb-3 mb-md-0">
                            <div style="min-width: max-content;">Select Date</div>
                            <input type="date" name="" id="" placeholder="Select Date" class="form-control" style="min-width: 150px;">
                        </div>
                        <button class="btn btn-primary">Search</button>
                    </div>
                    <div class="w-100" style="overflow-x: auto;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>SL No.</th>
                                    <th>WC Name</th>
                                    <th>Godown Name</th>
                                    <th>Vehicle No.</th>
                                    <th>Driver Name</th>
                                    <th>Package Wt.</th>
                                    <th>Package Cost</th>
                                    <th>No Package</th>
                                    <th>Total Cost</th>
                                    <th>Description</th>
                                    <th>Created Date</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Pokhariput WC</td>
                                    <td>Godown 1</td>
                                    <td>Garbage</td>
                                    <td>Suman</td>
                                    <td>25 KG</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>PIT Material</td>
                                    <td>04/04/2023</td>
                                    <td>
                                        <div class="d-flex gap-2 h-100">
                                            <button class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Pokhariput WC</td>
                                    <td>Godown 2</td>
                                    <td>Garbage</td>
                                    <td>Suman</td>
                                    <td>25 KG</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>50</td>
                                    <td>PIT Material</td>
                                    <td>04/04/2023</td>
                                    <td>
                                        <div class="d-flex gap-2 h-100">
                                            <button class="btn btn-sm btn-primary"><i class="fas fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>