<div id="sidebar-main">
	<div class="card sidebar-user-info">
		<div class="card-body d-flex align-items-center">
			<div class="d-flex align-items-center w-100">
				<div>
					<img src="/assets/images/icons/profile-user.png" alt="" class="dashboard-user-icon" />
				</div>
				<div class="ms-3">
					<!-- <div class="h5 mb-0">Super Admin</div>
					<div class="h5 mb-0">Role</div>
					<div class="text-sm text-success text-xs">Pokhariput</div> -->
					<div class="h5 mb-0" ><span style="font-size: 18px !important; color: #aaaaaa;">{{name}}</span></div>
					<div class="h5 mb-0"><span style="font-size: 12px !important; color: #aaaaaa;">{{role}}</span></div>
					<div class="text-sm text-success text-xs"><span style="font-size: 12px !important; color: #aaaaaa;" *ngIf="role != 'bmcadmin'">{{mccName}}</span></div>
				</div>
				<div class="ms-auto pl-3 text-end">
					<div class="dropdown">
						<div class="dropdown-toggle after-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-chevron-down"></i>
						</div>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-4">
		<div class="card-body">
			<a routerLink="/superadmin/portal-dashboards/dashboard-four" class="sidebar-link">
				<i class="fa-solid fa-gauge-high"></i>
				<span>Dashboard</span>
			</a>
			<a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarWCLinks" role="button" aria-expanded="false" aria-controls="collapseSidebarWCLinks">
				<i class="fa-brands fa-centercode"></i>
				<span>WC</span>
			</a>
			<div class="sidebar-sub-menu collapse" id="collapseSidebarWCLinks">
				<div *ngFor="let item of menuItem_; let indexOfItem = index">
					<a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarWCSubLinks-{{ indexOfItem }}" role="button" aria-expanded="false" attr.aria-controls="collapseSidebarWCSubLinks-{{ indexOfItem }}">
						<i class="fa-solid fa-arrow-right"></i>
						<span>{{ item.wcName }}</span>
					</a>
					<div class="sidebar-sub-menu collapse" id="collapseSidebarWCSubLinks-{{ indexOfItem }}">
						<a *ngFor="let mccItem of item.mccList" (click)="onClickOnMenu(mccItem)" class="sidebar-link">
							<i class="fa-solid fa-arrow-right"></i>
							<span>{{ mccItem.mccName }}</span>
						</a>
					</div>
				</div>
			</div>
			<!-- <a class="sidebar-link" data-bs-toggle="collapse" href="/superadmin/portal-dashboards/dashboard-four" role="button" aria-expanded="true" aria-controls="collapseSidebarMasterEntryLinks">
				<i class="fa-solid fa-gauge-high"></i>
				<span>Dashboard</span>
			</a> -->
			<!-- <div class="sidebar-sub-menu collapse show" id="collapseSidebarMasterEntryLinks1">
				<a routerLink="/superadmin/portal-dashboards/dashboard-one" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Dashboard 1</span>
				</a>
				<a routerLink="/superadmin/portal-dashboards/dashboard-two" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Dashboard 2</span>
				</a>
				<a routerLink="/superadmin/portal-dashboards/dashboard-three" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Dashboard 3</span>
				</a>
				<a routerLink="/superadmin/portal-dashboards/dashboard-four" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Dashboard 4</span>
				</a>
				
	
			</div> -->
			<!-- <a routerLink="/superadmin/dashboard-one" class="sidebar-link active">
				<i class="fa-solid fa-gauge-high"></i>
				<span>Dashboard</span>
			</a> -->
			<!-- <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarMccView" role="button" aria-expanded="true" aria-controls="collapseSidebarMasterEntryLinks">
				<i class="fa-solid fa-user-gear"></i>
				<span>WC</span>
			</a>
			<div class="sidebar-sub-menu collapse show" id="collapseSidebarMccView"> -->
				<!-- <a routerLink="/superadmin/mcc/pit-view" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>WC1</span>
				</a> -->
				<!-- <a routerLink="/superadmin/drying-yard/dry-compost-weighment" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Compost Weightment</span>
				</a>
				<a routerLink="/superadmin/drying-yard/compost-material-packaging" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Compost Packaging</span>
				</a>	 -->
			<!-- </div> -->
			<!-- <a routerLink="/superadmin/mcc/pit-view" class="sidebar-link">
				<i class="fa-brands fa-bitbucket"></i>
				<span>MCC</span>
			</a> -->
			<a routerLink="/superadmin/mrf" class="sidebar-link">
				<i class="fa-brands fa-bitbucket"></i>
					<span>MRF</span>			
			</a>
			<a routerLink="/superadmin/garbage" class="sidebar-link">
				<i class="fa-solid fa-recycle"></i>
				<span>Garbage</span>
			</a>
			<a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarMasterEntryLinks2" role="button" aria-expanded="true" aria-controls="collapseSidebarMasterEntryLinks">
				<i class="fa-solid fa-list-check"></i>
				<span>Today's Task</span>
			</a>
			<div class="sidebar-sub-menu collapse show" id="collapseSidebarMasterEntryLinks2">
				<a routerLink="/superadmin/mcc/today-task" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>MCC Task</span>
				</a>
				<a routerLink="#" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>MRF Task</span>
				</a>
				<a routerLink="#" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>HR Task</span>
				</a>
				
	
			</div>
			<a routerLink="/superadmin/vehicle-management" class="sidebar-link">
				<i class="fa-solid fa-truck"></i>
				<span>Vehicle Management</span>
			</a>
			<a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarMasterEntryLinks3" role="button" aria-expanded="true" aria-controls="collapseSidebarMasterEntryLinks">
				<i class="fa-solid fa-wind"></i>
				<span>Drying Yard</span>
			</a>
			<div class="sidebar-sub-menu collapse show" id="collapseSidebarMasterEntryLinks3">
				<a routerLink="/superadmin/drying-yard/trip-details" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Trip Details</span>
				</a>
				<a routerLink="/superadmin/drying-yard/compost-drying" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Compost Drying</span>
				</a>
				<a routerLink="/superadmin/drying-yard/dry-compost-weighment" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Compost Weightment</span>
				</a>
				<a routerLink="/superadmin/drying-yard/compost-material-packaging" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Compost Packaging</span>
				</a>	
	
			</div>
			<a routerLink="/superadmin/vehicle-management" class="sidebar-link">
				<i class="fa-solid fa-users"></i>
				<span>Manpower</span>
			</a>
			<a routerLink="/superadmin/inventory" class="sidebar-link">
				<i class="fa-solid fa-boxes-packing"></i>
				<span>Inventory</span>
			</a>
			
		<!-- org: aria-expanded: false -->
			<a class="sidebar-link" data-bs-toggle="collapse" href="#collapseSidebarMasterEntryLinks4" role="button" aria-expanded="true" aria-controls="collapseSidebarMasterEntryLinks1" *ngIf="role === 'wcuser' || role === 'bmcadmin'">
				<i class="fa-solid fa-database"></i>
				<span>Master Entry</span>
			</a>
			
		<!-- org: class: sidebar-sub-menu collapse -->
			<div class="sidebar-sub-menu collapse show" id="collapseSidebarMasterEntryLinks4" *ngIf="role === 'wcuser' || role === 'bmcadmin'">
				<a routerLink="/superadmin/zone-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Zone Master</span>
				</a>
				<a routerLink="/superadmin/wealth-center-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Wealth Center Master</span>
				</a>
				<a routerLink="/superadmin/ward-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Ward Master</span>
				</a>
				<a routerLink="/superadmin/mcc-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>MCC Master</span>
				</a>
				<a routerLink="/superadmin//drying-yard-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Drying Yard Master</span>
				</a>
				<a routerLink="/superadmin/item-category-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Item Category Master</span>
				</a>
				<a routerLink="/superadmin/item-name-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Item Name Master</span>
				</a>
				<a routerLink="/superadmin/pit-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>PIT Master</span>
				</a>
				<a routerLink="/superadmin/route-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Route Master</span>
				</a>
				<a routerLink="/superadmin/goods-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Goods Master</span>
				</a>
				<a routerLink="/superadmin/goods-sub-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Sub Goods Master</span>
				</a>
				<a routerLink="/superadmin/vehicle-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Vehicle Master</span>
				</a>
				<a routerLink="/superadmin/driver-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Driver Master</span>
				</a>
				<a routerLink="/superadmin/helper-master" class="sidebar-link">
					<i class="fa-solid fa-arrow-right"></i>
					<span>Helper Master</span>
				</a>
			</div>
			<a routerLink="/superadmin/vehicle-management" class="sidebar-link">
				<i class="fa-solid fa-gear"></i>
				<span>Settings</span>
			</a>
			<div class="d-flex w-100 align-items-center mt-4">
				<div (click)="doLogout()">
					<a  class="sidebar-link">
						<i class="fa-solid fa-arrow-right-from-bracket"></i>
						<span>Logout</span>
					</a>
				</div>
				<div class="ms-auto min-w-auto mt-2 color-secondary">
					Version 1
				</div>
			</div>
		</div>
	</div>
</div>


