<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-lg-3 sidebar-parent">
				<app-sidebar></app-sidebar>
			</div>
			<div class="col-lg-9 app-content">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-1 stat-card">
										<div>
											<div>PIT Quantum</div>
											<h4 class="mt-2">1 TON</h4>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-file-lines"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-2 stat-card">
										<div>
											<div>Empty PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">13</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-receipt"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-3 stat-card">
										<div>
											<div>PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">1</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-circle-check"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-4 stat-card">
										<div>
											<div>Assigned To Me</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">3</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-user-plus"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="">Item Name</a>
					</div>
				</div>
				<div class="mt-4">
					<form [formGroup]="form">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link active w-100 text-uppercase text-white" id="trip-tab"
									data-bs-toggle="tab" data-bs-target="#trip-tab-pane" type="button" role="tab"
									aria-controls="trip-tab-pane" aria-selected="true">Item Purchase</button>
							</li>
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link w-100 text-uppercase text-white" id="active-tab"
									data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab"
									aria-controls="active-tab-pane" aria-selected="false">Item Issue</button>
							</li>
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link w-100 text-uppercase text-white" id="completed-tab"
									data-bs-toggle="tab" data-bs-target="#completed-tab-pane" type="button" role="tab"
									aria-controls="completed-tab-pane" aria-selected="false">Item Stock</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active bg-secondary border border-white border-top-0 p-2"
								id="trip-tab-pane" role="tabpanel" aria-labelledby="trip-tab" tabindex="0">
								<div class="trip-details">
									<div class="card rounded-0">
										<div class="card-header rounded-0">
											Item Purchase
										</div>
										<div class="card-body">
											<form [formGroup]="form">
												<div class="row">
													<div class="col-md-6">
														<div class="row">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Item Category Name
															</div>
															<div class="col-md-9">
																<select name="" id="" class="form-control form-select"
																	formControlName="itemCategoryId"
																	[(ngModel)]="categoryName"
																	(ngModelChange)="getAllItemNameyByCategoryId()">
																	<option [value]="x.itemCategoryId"
																		*ngFor="let x of itemCategoryList;">{{
																		x.categoryName }}</option>
																	<!-- <option value="" disabled selected>Select Item Name</option>
																<option [value]="x.itemCategoryId" *ngFor="let x of itemCategoryList;">{{ x.categoryName }}</option> -->
																</select>
															</div>
															<div class="row mt-3"></div>
														</div>
														<div class="row">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Item Quantity
															</div>
															<div class="col-md-6">
																<input type="text" name="" id="" class="form-control"
																	formControlName="itemQuantity">
															</div>
															<div class="col-md-3">
																<select name="" id="units"
																	class="form-control form-select"
																	formControlName="unitId">
																	<option [value]="item.unitId"
																		*ngFor="let item of unitList" selected>
																		{{item.unit}}</option>
																	<!-- <option [value]="x.routeId" *ngFor="let x of routeList;">{{x.routeName}}</option> -->
																	<!-- <input formControlName="driverDlNo" type="text" name=""
																id="" class="form-control"> -->
																</select>
															</div>
														</div>
														<div class="row mt-3">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Item Cost
															</div>
															<div class="col-md-9">
																<input type="text" name="" id="itemCost"
																	class="form-control" formControlName="itemCost">
															</div>
														</div>
														<div class="row mt-3">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Description
															</div>
															<div class="col-md-9">
																<input type="text" name="" id="" class="form-control"
																	formControlName="description">
															</div>
														</div>
														<!-- <div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Trip End Reading Picture
														</div>
														<div class="col-md-9">
															<input type="file" name="" id="" class="form-control"
																accept="image/*">
														</div>
													</div> -->
														<!-- <div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Vehicle Start Time
														</div>
														<div class="col-md-9">
															<input type="time" name="" id="" class="form-control">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Vehicle End Time
														</div>
														<div class="col-md-9">
															<input type="time" name="" id="" class="form-control"
																accept="image/*">
														</div>
													</div> -->
													</div>
													<div class="col-md-6">
														<div class="row">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Item Name
															</div>
															<div class="col-md-9">
																<select name="" id="" class="form-control form-select"
																	formControlName="itemId">
																	<option value="" disabled selected>Select Item Name
																	</option>
																	<option [value]="x.itemId"
																		*ngFor="let x of itemNameList;">{{ x.itemname }}
																	</option>
																</select>
															</div>
														</div>
														<div class="row mt-3">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Date
															</div>
															<div class="col-md-9">
																<input type="date" name="" id="" class="form-control"
																	formControlName="itemPurchaseDate">
															</div>
														</div>
														<div class="row mt-3">
															<div class="col-md-3 d-flex align-items-center pe-0">
																Upload Bill
															</div>
															<div class="col-md-9">
																<input type="file" name="" id="" class="form-control"
																	formControlName="uploadBill">
															</div>
														</div>
														<!-- <div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Route
														</div>
														<div class="col-md-9">
															<select formControlName="routeId" class="form-select">
                                                                								<option value="" disabled selected>--Select--</option>
                                                                								<option [value]="x.routeId" *ngFor="let x of routeList;">{{x.routeName}}</option>
                                                        								</select>
															<select name="" id=""
																class="form-control form-select bg-transparent text-white">
																<option value="" class="form-control"
																	formControlName="routeName">
																 {{this.vehcileDataResponse.data.route.routeName}} 
																</option>
															</select> 
														</div>
													</div> -->
														<div style="display: flex; flex-direction: row;float: right;">
															<!-- <div class="trip-button text-end mt-5 pt-2"
															*ngIf="tripStartButton; else tripStratButtonNot">
															<button class="btn btn-trip btn-warning"
																(click)="createTrip()">
																Trip Start
															</button>
														</div>
														<ng-template #tripStratButtonNot>
															<div class="trip-button text-end mt-5 pt-2">
																<button class="btn btn-trip btn-secondary">
																	Trip Start
																</button>
															</div>
														</ng-template> -->
															<!-- <div class="trip-button text-end mt-5 pt-2"
															*ngIf="tripEndButton; else tripEndButtonNot">
															<button class="btn btn-trip btn-primary ml-10"
																(click)="endTrip()">
																Trip End
															</button>
														</div> -->
															<div class="text-end mt-3" *ngIf="isAdd">
																<button class="btn btn-primary px-5 py-2"
																	(click)="addItemPurchase()">Add</button>
															</div>
															<div class="text-end mt-3" *ngIf="isUpdate">
																<button class="btn btn-primary px-5 py-2"
																	(click)="cancel()">Cancel</button>
																<button class="btn btn-primary px-5 py-2"
																	style="margin-left: 20px;"
																	(click)="updateWcc()">Update</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="card-body">

											<ag-grid-angular class="ag-theme-alpine" [rowData]="rowDataPurchase"
												[columnDefs]="columnDefsPurchase" [gridOptions]="gridOptions"
												[animateRows]="true" [suppressMenuHide]="true">

											</ag-grid-angular>

										</div>
									</div>
								</div>
								<!-- <div class="mt-4">
									<div class="card rounded-0">
										<div class="card-header rounded-0 border-0">
											Garbage Weighment
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Gross Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="grossWeightValue">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Tare Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="text" name="" id="" class="form-control" 
															formControlName="tareWeightValue">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Dry Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="dryWeightValue">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Wet Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="wetWeightValue">
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div> -->
								<!-- <div class="mt-4 d-flex justify-space-between">
									<div class="d-flex-1 text-start"
										*ngIf="grossWeightCapturedButton; else grossWeightCapturedButtonNot">
										<button class="btn btn-gross-weight btn-primary" (click)="setGrossWtValue()">
											Gross Weight
										</button>
									</div>
									<ng-template #grossWeightCapturedButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-gross-weight btn-secondary">
												Gross Weight
											</button>
										</div>
									</ng-template>
									<div class="d-flex-1 text-center" *ngIf="dryButton; else dryButtonNot">
										<button class="btn btn-dry-weight btn-primary" (click)="setDryWtValue()">
											Captured Dry Weight
										</button>
									</div>
									<ng-template #dryButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-dry-weight btn-secondary">
												Captured Dry Weight
											</button>
										</div>
									</ng-template>
									<div class="d-flex-1 text-end"
										*ngIf="wetWeightCapturedButton; else wetWeightCapturedButtonNot">
										<button class="btn btn-wet-weight btn-primary" (click)="setWetWtValue()">
											Captured Wet Weight
										</button>
									</div>
									<ng-template #wetWeightCapturedButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-wet-weight btn-secondary">
												Captured Wet Weight
											</button>
										</div>
									</ng-template>
								</div> -->
							</div>
							<div class="tab-pane fade show bg-secondary border border-white border-top-0"
								id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
								<div class="card rounded-0">
									<div class="card-header rounded-0">
										Item Issue
									</div>
									<div class="card-body">

										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-3 d-flex align-items-center pe-0">
														Item Name
													</div>
													<div class="col-md-9">
														<select name="" id="" class="form-control form-select"
															formControlName="itemId">
															<option value="" disabled selected>Select Item Name</option>
															<option [value]="x.itemId" *ngFor="let x of itemNameList;">
																{{ x.itemname }}</option>
														</select>
													</div>
												</div>
												<div class="row mt-3">
													<div class="col-md-3 d-flex align-items-center pe-0">
														Issue Date
													</div>
													<div class="col-md-9">
														<input formControlName="issueDate" type="date" name="" id=""
															class="form-control">
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-3 d-flex align-items-center pe-0">
														Select Quantity
													</div>
													<div class="col-md-3">
														<input type="text" name="" id="" class="form-control"
															formControlName="itemQuantity">
													</div>
													<div class="col-md-6">
														<select class="form-select" formControlName="unitId">
															<option [value]="item.unitId" *ngFor="let item of unitList" selected>{{item.unit}}</option>
															<!-- <option [value]="x.routeId" *ngFor="let x of routeList;">{{x.routeName}}</option> -->
															<!-- <input formControlName="driverDlNo" type="text" name=""
																id="" class="form-control"> -->
														</select>
													</div>
												</div>

												<div style="display: flex; flex-direction: row;float: right;">

													<div class="text-end mt-3" *ngIf="isAdd">
														<button class="btn btn-primary px-5 py-2"
															(click)="addItemIssue()">Add</button>
													</div>
													<div class="text-end mt-3" *ngIf="isUpdate">
														<button class="btn btn-primary px-5 py-2"
															(click)="cancel()">Cancel</button>
														<button class="btn btn-primary px-5 py-2"
															style="margin-left: 20px;"
															(click)="updateWcc()">Update</button>
													</div>
												</div>
											</div>
										</div>

									</div>


									<div class="card-body">

										<ag-grid-angular class="ag-theme-alpine" [rowData]="rowDataIssue"
											[columnDefs]="columnDefsIssue" [gridOptions]="gridOptions"
											[animateRows]="true" [suppressMenuHide]="true">

										</ag-grid-angular>

									</div>
								</div>
							</div>
							<div class="tab-pane fade show bg-secondary border border-white border-top-0 p-2"
								id="completed-tab-pane" role="tabpanel" aria-labelledby="completed-tab" tabindex="0">
								<div class="card rounded-0">
									<div class="card-header rounded-0 border-0">
										Item Stock
									</div>
									<div class="card-body">

										<ag-grid-angular class="ag-theme-alpine" [rowData]="rowDataStock"
											[columnDefs]="columnDefsStock">
										</ag-grid-angular>
										<!-- [gridOptions]="gridOptionsComp"
										[animateRows]="true"
										[suppressMenuHide]="true">
									
										</ag-grid-angular> -->

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>