<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-xl-3 sidebar-parent ">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
				<div class="card">
					<div class="card-body">
						<app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink="/superadmin/dashboard"><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<span>Authority Entry</span>
						<span class="mx-2">/</span>
						<span>Agency Master</span>
					</div>
					<div class="mt-4">
						<div class="card rounded-0">
							<div class="card-header rounded-0">
								Agency Master
							</div>
							<div class="card-body">
								<form [formGroup]="form" *ngIf="role=='bmcadmin'">
									<div class="row">
										
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Agency Name<span class="text-danger">*</span>
												</div>
												<div
													class="ms-3 d-flex-1">
													<input formControlName="agencyName" type="text" name="" id=""
															class="form-control">
													<!-- <select formControlName="wcId"
														class="form-select"
														(ngModelChange)="getWcById()">
														<option value="">Select</option>
														<option value={{wealthCentreName}}
															selected>
															{{wealthCentreName}}
														</option>
														<option [value]="x.wcId"
															*ngFor="let x of wcList;">
															{{x.wcName
															}}
														</option>
													</select> -->
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Address<span class="text-danger">*</span>
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="agencyAddr" type="text" name="" id=""
															class="form-control">
													
													<!-- <select formControlName="zoneId" class="form-select"
														(ngModelChange)="getWccListByZoneId()" [(ngmodule)]>
														<option value="" disabled selected>--Select--</option>
														<option [value]="x.zoneId" *ngFor="let x of zoneList;">
															{{x.zoneName }}</option>
											 		</select> -->
													<!-- <select formControlName="zoneId"
														class="form-select"
														[(ngModel)]="zoneName">
														<option value="">Select</option>
														<option value={{zoneName}}
															selected>
															{{zoneName}}
														</option>
														<option [value]="x.zoneId" *ngFor="let x of zoneList;">{{x.zoneName }}</option>
													</select> -->
												</div>
											</div>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Phone No<span class="text-danger">*</span>
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="agencyPhone" type="text" name="" id=""
														class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Description
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="agencyDescription" type="text" name="" id=""
														class="form-control">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="text-end mt-3" *ngIf="isAdd">
							<button class="btn btn-primary px-5 py-2" (click)="addNew()"  *ngIf="role=='bmcadmin'">Add</button>
						</div>
						<div class="text-end mt-3" *ngIf="isUpdate">
							<button class="btn btn-primary px-5 py-2" (click)="cancel()"  *ngIf="role=='bmcadmin'">Cancel</button>
							<button class="btn btn-primary px-5 py-2" style="margin-left: 20px;" (click)="updateWard()"  *ngIf="role=='bmcadmin'">Update</button>
						</div>
					</div>
					<div class="mt-4">
						<!-- <div
							class="py-3 px-3 bg-secondary d-flex align-items-center justify-content-end border-bottom-0 border">
							<div>Zone Name</div>
							<div class="ms-3 w-20">
								<select name="" id="" class="form-control form-select">
									<option value="">Zone Name</option>
									<option [value]="x.zoneId" *ngFor="let x of zoneList;">{{ x.zoneName }}</option>
								</select>
							</div>
							<div class="wc-ml-10">WC Name</div>
							<div class="ms-3 w-20">
								<select name="" id="" class="form-control form-select">
									<option value="" disabled selected>Select WC</option>
									<option [value]="x.wcId" *ngFor="let x of wcList;">{{ x.wcName }}</option>
								</select>
							</div>
							<div class="wc-ml-10">Ward Name</div>
							<div class="ms-3 w-20">
								<select name="" id="" class="form-control form-select">
									<option value="" disabled selected>Ward Name</option>
									<option [value]="x.wardId" *ngFor="let x of list;">{{ x.wardName }}</option>
								</select>
							</div>
							<div class="ms-3">
								<button class="btn btn-primary px-3">
									Search
								</button>
							</div>
						</div> -->
						<table class="table table-bordered table-striped">
							<thead class="bg-primary text-white text-center">
								<tr>
									<th>Sl. No.</th>
									<th>Agency Name</th>
									<th>Phone No</th>
									<th>Address</th>
									<th>Description</th>
									<th>Created Date</th>
									<th  *ngIf="role=='bmcadmin'">Action</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr *ngFor="let x of list; index as i;">
									<td>{{ i + 1}}</td>
									<td>{{ x.agencyName || '--' }}</td>
									<td>{{ x.agencyPhoneNo || '--' }}</td>
									<td>{{ x.agencyAddress || '--' }}</td>
									<td>{{ x.agencyDesc || '--' }}</td>
									<td>{{ x.createdDate | date: 'dd/MM/yyyy' }}
									</td>
									<td class="d-flex align-items-center gap-1 justify-content-center"  *ngIf="role=='bmcadmin'">
										<button class="btn btn-primary btn-sm" (click)="updateData(x)">
											<i class="fa-solid fa-edit"></i>
										</button>
										<button (click)="deactivateWard(x.agencyId)" class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash-alt"></i>
										</button>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>