<app-header></app-header>
<main class="container-fluid">
    <div class="page-content p-3">
        <div class="row">
			<div class="col-xl-3 sidebar-parent d-none d-xl-block">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
                <div class="card">
                    <div class="card-body">
                        <app-heade-dashboard-component></app-heade-dashboard-component>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="breadcrumb">
                        <a routerLink=""><i class="fa-solid fa-home"></i></a>
                        <span class="mx-2">/</span>
                        <a routerLink="">Master Entry</a>
                        <span class="mx-2">/</span>
                        <a routerLink="">Vehicle Registration</a>
                    </div>
                    <div class="mt-4">
                        <div class="card rounded-0">
                            <div class="card-header rounded-0">
                                Vehicle Registration
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Vehicle No<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="vehicleNo" type="text" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Zone Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="zoneId" class="form-select">
                                                                <option value="" selected>Select</option>
                                                                <option [value]="x.zoneId" *ngFor="let x of zoneList;">{{x.zoneName }}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    WC Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="wcId" class="form-select">
                                                                <option value="" selected>Select</option>
                                                                <option [value]="x.wcId" *ngFor="let x of wcList;">{{x.wcName }}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Route Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="routeId" class="form-select">
                                                                <option value="" selected>Select</option>
                                                                <option [value]="x.routeId" *ngFor="let x of routeList;">{{x.routeName }}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Driver Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <select formControlName="driverId" class="form-select">
                                                        <option value="" selected>Select</option>
                                                        <option [value]="x.driverId" *ngFor="let x of driverList;">{{x.driverName}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    RC Number<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="rcNo" type="text" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    RC Photo<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="rcPhoto" type="file" name="" id="rcPhoto" class="form-control" (change)="handleFileSelectRcPhoto($event)" accept="image/*">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Vehicle Image<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="vehicleImage" type="file" name="" id="vehicleImage" class="form-control" (change)="handleFileSelectVehiclePhoto($event)" accept="image/*">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Insurance<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="insurance" type="text" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Vehicle Passing Weight<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="vehiclePassingWt" type="number" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Helper Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <select formControlName="helperId" class="form-select">
                                                        <option value="" selected>Select</option>
                                                        <option [value]="x.helperId" *ngFor="let x of helperList;">{{x.helperName}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Vehicle Weight<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="vehicleWt" type="number" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Description
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="vehicleDesc" type="text" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-end mt-3" *ngIf="isAdd">
                            <button (click)="addNew()" class="btn btn-primary px-5 py-2">Add</button>
                        </div>
                        <div class="text-end mt-3" *ngIf="isUpdate">
							<button class="btn btn-primary px-5 py-2"
								(click)="cancel()">Cancel</button>
							<button class="btn btn-primary px-5 py-2"
								style="margin-left: 20px;"
								(click)="updateVehicle()">Update</button>
						</div>
                    </div>
                    <div class="mt-4">
                        <!-- <div
                            class="py-3 px-3 bg-secondary d-flex align-items-center justify-content-end border-bottom-0 border">
                            <div>Vehicle No</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                    <option value="">Vehicle No</option>
                                </select>
                            </div>
                            <div class="wc-ml-10">RC</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                    <option value="">RC</option>
                                </select>
                            </div>
                            <div class="wc-ml-10">DL Number</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                    <option value="">DL Number</option>
                                </select>
                            </div>
                            <div class="ms-3">
                                <button class="btn btn-primary px-3">
                                    Search
                                </button>
                            </div>
                        </div> -->
                        <table class="table table-bordered table-striped">
                            <thead class="bg-primary text-white text-center">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Vehicle No</th>
                                    <th>Zone Name</th>
                                    <th>WC Name</th>
                                    <th>Route Name</th>
                                    <th>Driver Name</th>
                                    <th>RC</th>
                                    <th>Helper Name</th>
                                    <th>Insurance</th>
                                    <th>Vehicle Passing Wt.</th>
                                    <th>Vehicle Wt.</th>
                                    <th>Description</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">

								<tr *ngFor="let x of list; index as i;">
                                                                        <td>{{ i + 1}}</td>
                                                                        <td>{{ x.vehicleNo || '--' }}</td>
                                                                        <td>{{ x.zone?.zoneName || '--' }}</td>
                                                                        <td>{{ x.wc?.wcName || '--' }}</td>
                                                                        <td>{{ x.route?.routeName || '--' }}</td>
                                                                        <td>{{ x.driver?.driverName || '--' }}</td>
                                                                        <td>{{ x.rcNo || '--' }}</td>
                                                                        <td>{{ x.helper?.helperName || '--' }}</td>
                                                                        <td>{{ x.insurance || '--' }}</td>
                                                                        <td>{{ x.vehiclePassingWt || '--' }}</td>
                                                                        <td>{{ x.vehicleWt || '--' }}</td>
                                                                        <td>{{ x.vehicleDesc || '--' }}</td>
                                                                        <td>{{ x.createdDate | date: 'dd/MM/yyyy' }}
                                                                        </td>
                                                                        <td
                                                                                class="d-flex align-items-center gap-1 justify-content-center">
                                                                                <button class="btn btn-primary btn-sm" (click)="updateData(x)">
                                                                                        <i class="fa-solid fa-edit"></i>
                                                                                </button>
                                                                                <button (click)="deactivateVehicle(x.vehicleId)" class="btn btn-danger btn-sm">
                                                                                        <i
                                                                                                class="fa-solid fa-trash-alt"></i>
                                                                                </button>
                                                                        </td>
                                                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>