<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-xl-3 sidebar-parent ">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
				<div class="card">
					<div class="card-body">
						<app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink="/superadmin/home"><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="">Master Entry</a>
						<span class="mx-2">/</span>
						<a routerLink="/superadmin/zone-master">Zone Master</a>
					</div>
					<div class="mt-4">
						<div class="card rounded-0">
							<div class="card-header rounded-0">
								Zone Master
							</div>
							<div class="card-body">
								<form [formGroup]="form" *ngIf="userRole=='bmcadmin'">
									<div class="row">
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Zone name<span class="text-danger">*</span>
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="zoneName" type="text" name="" id="" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													Description
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="zoneDesc" type="text" name="" id="" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="text-end mt-3" *ngIf="isAdd">
							<button class="btn btn-primary px-5 py-2" (click)="addNewZone()" *ngIf="userRole=='bmcadmin'">Add</button>
						</div>
						<div class="text-end mt-3" *ngIf="isUpdate">
							<button class="btn btn-primary px-5 py-2" (click)="cancel()" *ngIf="userRole=='bmcadmin'" >Cancel</button>
							<button class="btn btn-primary px-5 py-2" style="margin-left: 20px;" (click)="updateZone()" *ngIf="userRole=='bmcadmin'">Update</button>
						</div>
					</div>
					<div class="mt-4">
						<!-- <div class="py-3 px-3 bg-secondary d-flex align-items-center justify-content-end border-bottom-0 border">
							<div>Zone Name</div>
							<div class="ms-3 w-25">
								<select name="" id="searchZoneSelect" class="form-control form-select">
									<option value="" disabled selected>Select Zone</option>
									<option [value]="x.zoneId" *ngFor="let x of zoneList;">{{ x.zoneName }}</option>
								</select>
							</div>
							<div class="ms-3">
								<button class="btn btn-primary px-3" (click)="searchZone()">
									Search
								</button>
							</div>
						</div> -->
						<table class="table table-bordered table-striped">
							<thead class="bg-primary text-white text-center">
								<tr>
									<th>Sl. No.</th>
									<th>Zone Name</th>
									<th>Description</th>
									<th>Created Date</th>
									<th *ngIf="userRole=='bmcadmin'">Action</th>
								</tr>
							</thead>
							<tbody class="text-center">
                                                                <tr *ngFor="let zone of zoneList; index as i;">
                                                                        <td>{{ i + 1 }}</td>
									<td>{{ zone.zoneName || '--' }}</td>
									<td>{{ zone.zoneDesc || '--' }}</td>
									<td>{{ zone.createdDate | date:'dd/MM/yyyy' }}</td>
									<td class="d-flex align-items-center gap-1 justify-content-center" *ngIf="userRole=='bmcadmin'">
										<button class="btn btn-primary btn-sm" (click)="updateData(zone)">
											<i class="fa-solid fa-edit"></i>
										</button>
										<!-- <button  (click)="removeZone(zone.zoneId)"class="btn btn-danger btn-sm"> -->
											<button  class="btn btn-danger btn-sm" (click)="deactivateZone(zone.zoneId)">
											<i class="fa-solid fa-trash-alt"></i>
										</button>
									</td>
                                                                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>
