.action{
    max-width: 200px;
    min-width: 100px;
    word-wrap: break-word;
}

/* .modal .modal-dialog { */
    /* max-width: var(--bs-modal-width);
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--bs-modal-margin) * 2);
    position: relative;
    width: auto;
    margin: var(--bs-modal-margin);
    pointer-events: none; */
    /* } */

    .optionsselected{
        background:#089efb;
        color: #fff;
    }
    .optionsnotselected{
        background:transparent;
    }