<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <!--Fontawesome CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="../login/login.component.css" />
    </head>
    <body>
        <div class="limiter" id="login">
            <div class="container-login" style="background-image: url(../../../assets/images/login-bg.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="login-form-main">
                                <div class="login_topimg"></div>
                                <div class="devider"></div>
                                <div class="wrap-login">
                                    <div class="login-form ">
                                        <form [formGroup]="form" autocomplete="off">
                                        <span class="login-form-title"> Welcome to the Bhubaneswar Municipal Corporation </span>
                                        <span class="login-form-subtitle m-b-16"> You are now entering a securer enviroment, where you can view overal activity of your system</span>
                                        <div class="wrap-input validate-input m-b-16">
                                            <input class="input" type="email" placeholder="Email" value="" class="form-control" formControlName="emailId" autocomplete="new-email"  /> <span class="focus-input"></span>
                                            <!-- <span class="symbol-input"> <span class="glyphicon glyphicon-user"></span> </span> -->
                                        </div>
                                        <div class="wrap-input validate-input m-b-16">
                                            <input class="input" type="password" placeholder="Password" value="" class="form-control" formControlName="password" autocomplete="new-password" /> <span class="focus-input"></span>
                                            <!-- <span class="symbol-input"> <span class="glyphicon glyphicon-lock"></span> </span> -->
                                        </div>
                                        <div class="flex-sb-m w-full p-b-25 m-t-16">
                                            <div class="col-md-6 padding-none">
                                                <div class="container-login-form-btn p-t-25">
													<button class="login-form-btn" (click)="doLogin()">Login</button>
												</div>
                                            </div>
                                            <div>
                                                <a href="#" class="forgot-password">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </div>   
                                        </form>                                    
                                    </div>
									
                                </div>
								 <div class="login-form-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>