<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-lg-3">
				<app-sidebar></app-sidebar>
			</div>
			<div class="col-lg-9">
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-1 stat-card">
										<div>
											<div>PIT Quantum</div>
											<h4 class="mt-2">1 TON</h4>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-file-lines"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-2 stat-card">
										<div>
											<div>Empty PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">13</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-receipt"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-3 stat-card">
										<div>
											<div>PIT</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">1</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-regular fa-circle-check"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card">
									<div class="card-body d-flex w-100 align-items-center card-4 stat-card">
										<div>
											<div>Assigned To Me</div>
											<div class="d-flex align-items-end gap-2">
												<h4 class="mt-2">3</h4>
												<span class="stat-card-sub-title">Quality</span>
											</div>
										</div>
										<div class="ms-auto">
											<div class="stat-card-icon">
												<i class="fa-solid fa-user-plus"></i>
											</div>
											<div class="mt-2 text-center">
												<i class="fa-solid fa-arrow-right"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="">Trip Details</a>
					</div>
				</div>
				<div class="mt-4">
					<form [formGroup]="form">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link active w-100 text-uppercase text-white" id="trip-tab"
									data-bs-toggle="tab" data-bs-target="#trip-tab-pane" type="button" role="tab"
									aria-controls="trip-tab-pane" aria-selected="true">Trip Details</button>
							</li>
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link w-100 text-uppercase text-white" id="active-tab"
									data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab"
									aria-controls="active-tab-pane" aria-selected="false">Active Trips</button>
							</li>
							<li class="nav-item w-33" role="presentation">
								<button class="nav-link w-100 text-uppercase text-white" id="completed-tab"
									data-bs-toggle="tab" data-bs-target="#completed-tab-pane" type="button" role="tab"
									aria-controls="completed-tab-pane" aria-selected="false">Completed Trips</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active bg-secondary border border-white border-top-0 p-2"
								id="trip-tab-pane" role="tabpanel" aria-labelledby="trip-tab" tabindex="0">
								<div class="trip-details">
									<div class="card rounded-0">
										<div class="card-header rounded-0">
											Trip Details
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Vehicle Number
														</div>
														<div class="col-md-9">
															<input formControlName="vehicleNumber" type="text" name=""
																id="" class="form-control" (input)="setVehicleNumber()">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Trip Start Reading
														</div>
														<div class="col-md-9">
															<input formControlName="tripStartReading" type="number"
																name="" id="" class="form-control">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Trip Start Reading Picture
														</div>
														<div class="col-md-9">
															<input type="file" name="" id="" class="form-control"
																accept="image/*">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Trip End Reading
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="tripEndReading">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Trip End Reading Picture
														</div>
														<div class="col-md-9">
															<input type="file" name="" id="" class="form-control"
																accept="image/*">
														</div>
													</div>
													<!-- <div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Vehicle Start Time
														</div>
														<div class="col-md-9">
															<input type="time" name="" id="" class="form-control">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Vehicle End Time
														</div>
														<div class="col-md-9">
															<input type="time" name="" id="" class="form-control"
																accept="image/*">
														</div>
													</div> -->
												</div>
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															DL Number
														</div>
														<div class="col-md-9">
															<input formControlName="driverDlNo" type="text" name=""
																id="" class="form-control">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Driver Name
														</div>
														<div class="col-md-9">
															<input type="text" name="" id="" class="form-control"
																formControlName="driverName">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Helper Name
														</div>
														<div class="col-md-9">
															<select 
																class="form-select" formControlName="helperId">
																<option value="" disabled selected>--Select--</option>
																<option [value]="item.helperId" *ngFor="let item of helperList">{{item.helperName}}</option>
															</select>
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Route
														</div>
														<div class="col-md-9">
															<select formControlName="routeId" class="form-select">
                                                                <option value="" disabled selected>--Select--</option>
                                                                <option [value]="x.routeId" *ngFor="let x of routeList;">{{x.routeName}}</option>
                                                        </select>
															<!-- <select name="" id=""
																class="form-control form-select bg-transparent text-white">
																<option value="" class="form-control"
																	formControlName="routeName">
																 {{this.vehcileDataResponse.data.route.routeName}} 
																</option>
															</select> -->
														</div>
													</div>
													<div style="display: flex; flex-direction: row;float: right;">
														<div class="trip-button text-end mt-5 pt-2"
															*ngIf="tripStartButton; else tripStratButtonNot">
															<button class="btn btn-trip btn-warning"
																(click)="createTrip()">
																Trip Start
															</button>
														</div>
														<ng-template #tripStratButtonNot>
															<div class="trip-button text-end mt-5 pt-2">
																<button class="btn btn-trip btn-secondary">
																	Trip Start
																</button>
															</div>
														</ng-template>
														<div class="trip-button text-end mt-5 pt-2"
															*ngIf="tripEndButton; else tripEndButtonNot">
															<button class="btn btn-trip btn-primary ml-10"
																(click)="endTrip()">
																Trip End
															</button>
														</div>
														<ng-template #tripEndButtonNot>
															<div class="trip-button text-end mt-5 pt-2">
																<button class="btn btn-trip btn-secondary ml-10">
																	Trip End
																</button>
															</div>
														</ng-template>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="mt-4">
									<div class="card rounded-0">
										<div class="card-header rounded-0 border-0">
											Garbage Weighment
										</div>
										<div class="card-body">

											<div class="row">
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Gross Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="grossWeightValue">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Tare Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="text" name="" id="" class="form-control" 
															formControlName="tareWeightValue">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="row">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Wet Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="wetWeightValue">
														</div>
													</div>
													<div class="row mt-3">
														<div class="col-md-3 d-flex align-items-center pe-0">
															Dry Weight/Ton
														</div>
														<div class="col-md-9">
															<input type="number" name="" id="" class="form-control"
																formControlName="dryWeightValue">
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="mt-4 d-flex justify-space-between">
									<div class="d-flex-1 text-start"
										*ngIf="grossWeightCapturedButton; else grossWeightCapturedButtonNot">
										<button class="btn btn-gross-weight btn-primary" (click)="setGrossWtValue()">
											Gross Weight
										</button>
									</div>
									<ng-template #grossWeightCapturedButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-gross-weight btn-secondary">
												Gross Weight
											</button>
										</div>
									</ng-template>
									<div class="d-flex-1 text-end"
										*ngIf="wetWeightCapturedButton; else wetWeightCapturedButtonNot">
										<button class="btn btn-wet-weight btn-primary" (click)="setWetWtValue()">
											Captured Wet Weight
										</button>
									</div>
									<ng-template #wetWeightCapturedButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-wet-weight btn-secondary">
												Captured Wet Weight
											</button>
										</div>
									</ng-template>
									<div class="d-flex-1 text-center" *ngIf="dryButton; else dryButtonNot">
										<button class="btn btn-dry-weight btn-primary" (click)="setDryWtValue()">
											Captured Dry Weight
										</button>
									</div>
									<ng-template #dryButtonNot>
										<div class="d-flex-1 text-center">
											<button class="btn btn-dry-weight btn-secondary">
												Captured Dry Weight
											</button>
										</div>
									</ng-template>
									
								</div>
							</div>
							<div class="tab-pane fade show bg-secondary border border-white border-top-0"
								id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
								<div class="card rounded-0">
									<div class="card-header rounded-0 border-0">
										Active Trips <i class="fa fa-truck b-green" aria-hidden="true"></i>
									</div>
									<div class="card-body">
										
										<ag-grid-angular
										class="ag-theme-alpine"
										[rowData]="rowData"
										[columnDefs]="columnDefs"
										[gridOptions]="gridOptions"
										[animateRows]="true"
										[suppressMenuHide]="true">
									
										</ag-grid-angular>
										
									</div>
								</div>
							</div>
							<div class="tab-pane fade show bg-secondary border border-white border-top-0 p-2"
								id="completed-tab-pane" role="tabpanel" aria-labelledby="completed-tab" tabindex="0">
								<div class="card rounded-0">
									<div class="card-header rounded-0 border-0">
										Completed Trips <i class="fa fa-truck b-red" aria-hidden="true"></i>
									</div>
									<div class="card-body">
										<div
											class="py-3 px-3 bg-secondary d-flex align-items-center justify-content-end border-bottom-0 border">
											<div class="ms-3 w-25">
												<input type="text" name="" id="" class="form-control"
													placeholder="Enter Vehicle No.">
											</div>
											<div class="ms-3 w-25">
												<input type="date" name="" id="" class="form-control"
													placeholder="Select Date">
											</div>
											<div class="ms-3">
												<button class="btn btn-primary px-3">
													Search
												</button>
											</div>
										</div>
										<ag-grid-angular
										class="ag-theme-alpine"
										[rowData]="rowDataComp"
										[columnDefs]="columnDefsComp"
										[gridOptions]="gridOptionsComp"
										[animateRows]="true"
										[suppressMenuHide]="true">
									
										</ag-grid-angular>
										<!-- <table class="table table-bordered table-striped">
											<thead class="bg-primary text-white text-center">
												<tr>
													<th>Vehicle No</th>
													<th>Driver Name</th>
													<th>Helper Name</th>
													<th>Route</th>
													<th>Initial Reading</th>
													<th>Final Reading</th>
													<th>Vehicle Start Time</th>
													<th>Vehicle End Time</th>
												</tr>
											</thead>
											<tbody class="text-center">
												<tr *ngFor="let item of inActiveTripList">
													<td>{{item.vehicleNo}}</td>
													<td>{{item.driver.driverName}}</td>
													<td>Ramakant Das</td>
													<td>{{item.route.routeName}}</td>
													<td>{{item.tripStartReading}}</td>
													<td>{{item.tripEndReading}}</td>
													<td>{{item.createdDate}}</td>
													<td>{{item.updateDate}}</td>
												</tr>

											</tbody>
										</table> -->
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
<app-footer></app-footer>