<app-header></app-header>
<main class="container-fluid">
    <div class="page-content p-3">
        <div class="row">
			<div class="col-lg-3 sidebar-parent">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-lg-9 app-content">
                <div class="card">
                    <div class="card-body">
                        <app-heade-dashboard-component></app-heade-dashboard-component>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="breadcrumb">
                        <a routerLink=""><i class="fa-solid fa-home"></i></a>
                        <span class="mx-2">/</span>
                        <a routerLink="">Master Entry</a>
                        <span class="mx-2">/</span>
                        <a routerLink="">PIT Master</a>
                    </div>
                    <div class="mt-4">
                        <div class="card rounded-0">
                            <div class="card-header rounded-0">
                                PIT Master
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Wealth Center<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="wcId" class="form-select" (ngModelChange)="getMccDataByWcId()">
                                                                <option value="">Select</option>
                                                                <option [value]="x.wcId" *ngFor="let x of wcList;">{{x.wcName }}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Select Zone<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="zoneId" class="form-select" [(ngModel)]="zoneName">
                                                                <option value="">Select</option>
                                                                <option value={{zoneName}}>{{zoneName}}</option>
                                                                <!-- <option [value]="x.zoneId" *ngFor="let x of zoneList;">{{x.zoneName }}</option> -->
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    MCC Name<span class="text-danger">*</span>
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                        <select formControlName="mccId" class="form-select">
                                                                <option value="">Select</option>
                                                                <option [value]="x.mccId" *ngFor="let x of mccList;">{{x.mccName }}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center w-100">
                                                <div>
                                                    Description
                                                </div>
                                                <div class="ms-3 d-flex-1">
                                                    <input formControlName="pitDesc" type="text" name="" id="" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
										<div class="col-md-6">
											<div class="d-flex align-items-center w-100">
												<div>
													PIT Name<span class="text-danger">*</span>
												</div>
												<div class="ms-3 d-flex-1">
													<input formControlName="pitName" type="text" name="" id="" class="form-control">
												</div>
											</div>
										</div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="text-end mt-3">
                            <button (click)="addNew()" class="btn btn-primary px-5 py-2">Add</button>
                        </div>
                    </div>
                    <div class="mt-4">
                        <!-- <div
                            class="py-3 px-3 bg-secondary d-flex align-items-center justify-content-end border-bottom-0 border">
                            <div>Zone Name</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                        <option value="">Zone Name</option>
                                        <option [value]="x.zoneId" *ngFor="let x of zoneList;">{{ x.zoneName }}</option>
                                </select>
                            </div>
                            <div class="wc-ml-10">WC Name</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                        <option value="" disabled selected>Select WC</option>
                                        <option [value]="x.wcId" *ngFor="let x of wcList;">{{ x.wcName }}</option>
                                </select>
                            </div>
                            <div class="wc-ml-10">MCC Name</div>
                            <div class="ms-3 w-20">
                                <select name="" id="" class="form-control form-select">
                                        <option value="" disabled selected>MCC Name</option>
                                        <option [value]="x.mccId" *ngFor="let x of mccList;">{{ x.mccName }}</option>
                                </select>
                            </div>
                            <div class="ms-3">
                                <button class="btn btn-primary px-3">
                                    Search
                                </button>
                            </div>
                        </div> -->
                        <table class="table table-bordered table-striped">
                            <thead class="bg-primary text-white text-center">
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Zone Name</th>
                                    <th>WC Name</th>
                                    <th>PIT Name</th>
                                    <th>Description</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let x of list; index as i;">
                                        <td>{{ i + 1}}</td>
                                        <td>{{ x.zone?.zoneName || '--' }}</td>
                                        <td>{{ x.wc?.wcName || '--' }}</td>
                                        <td>{{ x.pitName || '--' }}</td>
                                        <td>{{ x.pitDesc || '--' }}</td>
                                        <td>{{ x.createdDate | date: 'dd/MM/yyyy' }}
                                        </td>
                                        <td
                                                class="d-flex align-items-center gap-1 justify-content-center">
                                                <button class="btn btn-primary btn-sm">
                                                        <i class="fa-solid fa-edit"></i>
                                                </button>
                                                <button (click)="deactivatePit(x.pitId)" class="btn btn-danger btn-sm">
                                                        <i
                                                                class="fa-solid fa-trash-alt"></i>
                                                </button>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>