<span class="disclaimer_main" od>
    <h3>Disclaimer</h3>

    <p>1. Your access/use and reliance upon any/all information/s, Matters contained/ shown or Facilities/Services
        offered by
        BMC through its website in is entirely at your own risk.
    </p>
    <p>2. These Disclaimers are the essence of the 'Terms & Conditions' for the use or an access to the website Using
        this
        website constitutes your acknowledgement that you have gone through and understood these Disclaimers and that
        you accept and will be bound by it.</p>
    <p>3. BMC reserves the rights to modify and/or change anything (including technical / non-technical and general
        information, any kind of data, statistics, styling or mode of presentation/operation, or any content therein) on
        this
        website at any point of time, without prior notice or reason whatsoever</p>
    <p>4. All information/Data contained herein is to be used for reference and as guidelines only. BMC is in no way
        responsible
        for any claim/s arising out of the use / quote of any information/data displayed/shown on the website . You may
        contact the respective Departments of BMC for correct information.</p>
    <p>5. The information/data contained herein are based on records/information available with the BMC. All possible
        care has
        been taken to verify the accuracy/correctness of the information/data, neither BMC or its Officer, vendors,
        assume any
        kind of responsibility for the accuracy/correctness or for any loss arising out of any information contained
        herein.</p>
    <p>6. This disclaimer of liability applies also to any damage or injury caused by any failure of performance, error,
        omission,
        interruption, deletion, defect, delay in operation or transmission, computer virus, communications link/line
        failure,
        theft or destruction or unauthorised access to, alteration of, or use of record, whether for breach of conduct
        tortuous
        behaviour, negligence, or under any other cause of action.</p>
    <p>7. BMC is not liable to you or any other user of such information or to the third party for any loss, expense, or
        damage,
        including consequent, incidental, special or punitive damages and including loss of profits or revenue caused
        directly
        or indirectly by the use or reliance upon information, participation, any ideas gained from it, any material
        downloaded
        or otherwise obtained through the use of the website.
    </p>
    <p>8. The Website, including any content or information on it, any related or linked site and all facilities,
        products and
        services displayed, provided, offered, availed of, licensed or purchased on, through or via the Website are
        provided "as
        is" and "as available" basis, without any representation or warranty of any kind, either express or implied,
        including
        without limitation, any representation or warranty for accuracy, continuity, uninterrupted access, timeliness,
        sequence,
        quality, performance, fitness for any particular/specific purpose or completeness. Specifically, BMC disclaims
        any and
        all warranties including, but not limited to any warranties concerning the availability, accuracy, usefulness,
        or
        correctness, currency or completeness of information, facilities, products or services and, any warranties of
        title,
        warranty of non-infringement, freedom from computer virus, warranties of merchantability or fitness for a
        particular/specific purpose, other than those warranties which are incapable of exclusion, restriction or
        modification
        under the laws applicable to the Terms and Conditions.
    </p>
    <p>9. BMC does not, in any way, certify or warrant the performance, operation, content or availability of the
        Website or such
        other websites. Although BMC adopts security measures which it considers/thinks appropriate for the Website, it
        does
        not assure or guarantee that no person will overcome or subvert the security measures and gain unauthorised
        access
        to the Website or any segments of the website. BMC shall not be responsible or liable if any unauthorised person
        hacks into or gains access to the Website.</p>
    <p>10. BMC does not give any warranties, whether express or implied, as to the suitability or usability of the
        website, its
        software or any of its content
        BMC will not be liable for any loss, whether such loss is direct, indirect, special or consequential, suffered
        by any party
        as a result of their use of the BMC website, its software or content.</p>
</span>