#mini-sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    width: 86px;
    background: #2B2B4B;
    color: #fff;
    z-index: 999;
    margin-left: -86px;
    height: 89.5dvh;
    overflow-y: auto;
}

#mini-sidebar.toggled {
    margin-left: 0;
}

#mini-sidebar::-webkit-scrollbar {
    width: 0;
    background: transparent;
}