#home-component {
    background: #000032;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-card {
    min-height: 100px;
    min-width: 200px;
    max-width: 200px;
    border-radius: 20px;
    padding: 1.2rem 1.3rem;
    display: block;
    text-decoration: none;
    flex: 1 1 0;
    /* margin-bottom: 3rem; */
}

.home-card-boxes {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.8rem;
    justify-content: space-around;
}

@media (max-width: 1304px) {
    .home-card {
        min-width: 180px;
        max-width: 180px;
    }

    .home-card-boxes {
        max-width: 70%;
        gap: 1.5rem;
    }
}

@media (max-width: 972px) {
    .home-card {
        min-width: 160px;
        max-width: 160px;
    }

    .home-card-boxes {
        max-width: 80%;
        gap: 1.5rem;
    }
}

@media (max-width: 800px) {
    .home-card {
        min-width: 160px;
        max-width: 160px;
    }

    .home-card-boxes {
        max-width: 80%;
        gap: 1.5rem;
    }
}

@media (max-width: 700px) {
    .home-card {
        min-width: 160px;
        max-width: 160px;
    }

    .home-card-boxes {
        max-width: 90%;
        gap: 1.5rem;
    }
}

@media (max-width: 600px) {
    .home-card {
        min-width: 130px;
        max-width: 130px;
    }

    .home-card-boxes {
        max-width: 90%;
        gap: 1.5rem;
    }
}

@media (max-width: 500px) {
    .home-card {
        min-width: 130px;
        max-width: 130px;
    }

    .home-card-boxes {
        max-width: 72%;
        gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    .home-card {
        min-width: 130px;
        max-width: 130px;
    }

    .home-card-boxes {
        max-width: 75%;
        gap: 1.5rem;
    }
}

.home-card-1 {
    background-image: linear-gradient(to top, #2BDE7C 0%, #1EE062 100%);
}

.home-card-2 {
    background-image: linear-gradient(to top, #0EBEF4 0%, #0EBEF4 100%);
}

.home-card-3 {
    background-image: linear-gradient(to top, #F35FCF 0%, #FF904E 100%);
}

.home-card-4 {
    background-image: linear-gradient(to top, #F5BA27 0%, #EE9810 100%);
}

.home-card-5 {
    background-image: linear-gradient(to top, #F7B823 0%, #F1980F 100%);
}

.home-card-6 {
    background-image: linear-gradient(to top, #A05EF4 0%, #6A69EE 100%);
}

.home-card-7 {
    background-image: linear-gradient(to top, #F9604A 0%, #F44845 100%);
}

.home-card-8 {
    background-image: linear-gradient(to top, #3C74FC 0%, #1B57F5 100%);
}

.home-card-icon {
    width: 70%;
    margin-bottom: 0.8rem;
}

.home-card h5 {
    color: #fff;
    margin-bottom: 0;
}