<section id="home-component">
    <div class="w-100">
        <div class="row w-100">
            <div class="col-12 text-center">
                <img src="/assets/images/icons/bmc-logo.png" alt="" class="mb-4" style="width: 180px" />
            </div>
        </div>
        <div class="home-card-boxes">
            <a routerLink="/superadmin/portal-dashboards/dashboard-four" class="home-card home-card-1">
                <div class="text-center">
                    <img src="/assets/images/icons/tachometer.png" alt="" class="home-card-icon">
                    <h5>Dashboard</h5>
                </div>
            </a>
            <a routerLink="/superadmin/mcc/pit-view" class="home-card home-card-2">
                <div class="text-center">
                    <img src="/assets/images/icons/archive.png" alt="" class="home-card-icon">
                    <h5>MCC</h5>
                </div>
            </a>
            <a routerLink="/superadmin/mrf" class="home-card home-card-3">
                <div class="text-center">
                    <img src="/assets/images/icons/glass.png" alt="" class="home-card-icon">
                    <h5>MRF</h5>
                </div>
            </a>
            <a routerLink="/superadmin/garbage" class="home-card home-card-4">
                <div class="text-center">
                    <img src="/assets/images/icons/trash-can.png" alt="" class="home-card-icon">
                    <h5>Garbage</h5>
                </div>
            </a>
            <a routerLink="/superadmin/vehiclemgmt" class="home-card home-card-5">
                <div class="text-center">
                    <img src="/assets/images/icons/truck.png" alt="" class="home-card-icon">
                    <h5>Vehicle Mgmt</h5>
                </div>
            </a>
            <a routerLink="/superadmin/manpaower" class="home-card home-card-6">
                <div class="text-center">
                    <img src="/assets/images/icons/group.png" alt="" class="home-card-icon">
                    <h5>Man Power</h5>
                </div>
            </a>
            <a routerLink="/superadmin/vehicle-management" class="home-card home-card-7">
                <div class="text-center">
                    <img src="/assets/images/icons/settings.png" alt="" class="home-card-icon">
                    <h5>Settings</h5>
                </div>
            </a>
            <a  class="home-card home-card-8">
                <div class="text-center" (click)="doLogout()">
                    <img src="/assets/images/icons/logout.png" alt="" class="home-card-icon">
                    <h5>Logout</h5>
                </div>
            </a>
        </div>
    </div>
</section>