<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-0">
      <a class="navbar-brand" style="cursor: pointer;">
        <img src="/assets/images/icons/menu.png" sayhello="123" />
      </a>
      <div class="app-name">BMC Wealth Management System</div>
    </div>
    <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item ms-3">
          <button class="btn btn-account">
            <i class="fa-solid fa-user-circle me-1"></i> Super Admin
          </button>
        </li>
        <li class="nav-item position-relative d-none">
          <input type="text" name="search-portal" id="search-portal" class="form-control form-control-sm" hidden>
          <i class="fa-solid fa-search search-icon" hidden></i>
        </li>
        <li class="nav-item ms-3 d-none">
          <button class="btn-contact" hidden>
            <i class="fa-solid fa-phone"></i>
          </button>
        </li>
        <li class="nav-item ms-3 d-none">
          <button class="btn-new-stack" hidden>
            <i class="fa-solid fa-plus-circle me-1"></i> New Stack
          </button>
        </li>
        <li class="nav-item ms-3 d-none" >
          <button class="btn-nav-link" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
            </svg>
            <span class="notification-red"></span>
          </button>
        </li>
        <li class="nav-item ms-3 d-none">
          <button class="btn-nav-link" hidden>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white  ">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
            <span class="notification-blue" hidden></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
