<button (click)="onEditClick()" class="btn btn-primary btn-sm">
    <i class="fa-solid fa-edit"></i>
  </button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none displayEditActiveTripsModalBtn" data-bs-toggle="modal"
    data-bs-target="#displayEditActiveTripsModal"></button>

<!-- Modal -->
<div class="modal fade" id="displayEditActiveTripsModal" tabindex="-1"
    aria-labelledby="displayEditActiveTripsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0" style="background-color: #2B2B4B;">
                <h1 class="modal-title fs-5" id="displayEditActiveTripsModalLabel">Edit Active Trip</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-secondary text-white">
                <form [formGroup]="activeTripsEditForm">
                    <div class="row w-100">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Vehicle No</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="vehicle_no" id="vehicle_no" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Dry Weight</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="dry_weight" id="dry_weight" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Wet Weight</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="wet_weight" id="wet_weight" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Gross Weight</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="gross_weight" id="gross_weight" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Tare Weight</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="tare_weight" id="tare_weight" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip Start Reading</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="trip_start_reading" id="trip_start_reading"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip Start Reading Image</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="file" name="trip_start_reading_image" id="trip_start_reading_image"
                                            class="form-control" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip Start Reading (Date)</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="date" name="trip_start_reading_date" id="trip_start_reading_date"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip End Reading</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="number" name="trip_end_reading" id="trip_end_reading"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip End Reading Image</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="file" name="trip_end_reading_image" id="trip_end_reading_image"
                                            class="form-control" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="" class="text-white">Trip End Reading (Date)</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="date" name="trip_end_reading_date" id="trip_end_reading_date"
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer bg-secondary border-top-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>