<div class="mt-4">
    <div class="d-flex align-items-center today-task-header text-center" style="padding-left: 0.6rem">
        <div style="width: 10%; border-right: 1px solid rgba(255,255,255, 0.7)">
            PIT No.
        </div>
        <div style="width: 10.5%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Day's Count
        </div>
        <div style="width: 23%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Task
        </div>
        <div style="width: 17%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Status
        </div>
        <div style="width: 40%">
            Remarks
        </div>
    </div>
    <div class="today-view-body">
        <div class="d-flex align-items-center gap-2 mb-2" *ngFor="let task of taskList">
            <div style="width: 10%">
                <div class="today-view-item">{{task.pitId}}</div>
            </div>
            <div style="width: 10%">
                <div class="today-view-item">{{task.noOfDaysInTodaysTask}}</div>
            </div>
            <div style="width: 23%">
                <div class="today-view-item bg-blue">
                    {{task.task}}
                </div>
            </div>
            <div style="width: 17%">
                <select id="pitstatus" class="form-control form-select select-red" (change)="onStatusSelect($event, task)">
                    <option [value]="status.id" *ngFor="let status of pitStatusArr">{{status.statusName}}</option>
                </select>
            </div>
            <div style="width: 40%">
                <input type="text" name="" id="" class="form-control bg-white text-dark">
            </div>
        </div>
    </div>  
    <select id="pitstatus" class="form-control form-select select-red" (change)="onStatusSelect1($event)">
        <option [value]="status.id" *ngFor="let status of pitStatusArr">{{status.statusName}}</option>
        <option value="1">1</option>
        <option value="2">1</option>
        <option value="13">1</option>
        <option value="15">1</option>
        <option value="16">1</option>
    </select>     
</div>