<app-header></app-header>
<main class="container-fluid">
	<div class="page-content p-3">
		<div class="row">
			<div class="col-xl-3 sidebar-parent ">
				<app-sidebar></app-sidebar> 
			</div>
			<div class="col-xl-9 app-content mt-4 mt-xl-0">
				<div class="card">
					<div class="card-body">
						<app-heade-dashboard-component></app-heade-dashboard-component>
					</div>
				</div>
				<div class="mt-4">
					<div class="breadcrumb">
						<a routerLink=""><i class="fa-solid fa-home"></i></a>
						<span class="mx-2">/</span>
						<a routerLink="/superadmin/mcc/pit-view">MCC - Today Task</a>
					</div>
				</div>


<div class="mt-4">
    <div class="d-flex align-items-center today-task-header text-center" style="padding-left: 0.6rem">
        <div style="width: 10%; border-right: 1px solid rgba(255,255,255, 0.7)">
            PIT No.
        </div>
        <div style="width: 10.5%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Day's Count
        </div>
        <div style="width: 23%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Task
        </div>
        <div style="width: 17%; border-right: 1px solid rgba(255,255,255, 0.7)">
            Status
        </div>
        <div style="width: 40%">
            Remarks
        </div>
    </div>
    <div class="today-view-body">
        <div class="d-flex align-items-center gap-2 mb-2" *ngFor="let task of taskList">
            <div style="width: 10%">
                <div class="today-view-item">{{task.pitId}}</div>
            </div>
            <div style="width: 10%">
                <div class="today-view-item">{{task.noOfDaysInTodaysTask}}</div>
            </div>
            <div style="width: 23%">
                <div class="today-view-item bg-blue">
                    {{task.task}}
                </div>
            </div>
            <div style="width: 17%">
                <select id="pitstatus" class="form-control form-select select-red" (change)="onStatusSelect($event, task)" [disabled]="task.pitDailyOperationstatus == 1">
                    [selected]="status.id === task.pitDailyOperationstatus"
					<option  *ngFor="let status of pitStatusArr" [value]="status.id" [selected]="status.id === task.pitDailyOperationstatus" >
						{{status.statusName}}
					</option>
                </select>
            </div>
            <div style="width: 40%">
                <input type="text" name="remarks" id="remarksId" class="form-control bg-white text-dark"  [disabled]="task.pitDailyOperationstatus === 1" [(ngModel)]="task.checkerRemarks"  value="{{task.checkerRemarks}}"> 
            </div>
        </div>
    </div>  
</div>

</div>
</div>
</div>
</main>
<app-footer></app-footer>