<div id="mini-sidebar-component" class="text-center">
    <a class="mini-sidebar-link" title="Dashboard" routerLink="/superadmin/portal-dashboards/dashboard-four">
        <i class="fa-solid fa-gauge-high"></i>
    </a>
    <a class="mini-sidebar-link" title="WC" routerLink="/superadmin/mcc/pit-view">
        <i class="fa-brands fa-centercode"></i>
    </a>
    <a class="mini-sidebar-link" title="MRF" routerLink="/superadmin/mrf">
        <i class="fa-brands fa-bitbucket"></i>
    </a>
    <a class="mini-sidebar-link" title="Garbage" routerLink="/superadmin/garbage">
        <i class="fa-solid fa-recycle"></i>
    </a>
    <a class="mini-sidebar-link" title="Today's Task" routerLink="/superadmin/mcc/today-task">
        <i class="fa-solid fa-list-check"></i>
    </a>
    <a class="mini-sidebar-link" title="Vehicle Management" routerLink="/superadmin/vehiclemgmt">
        <i class="fa-solid fa-truck"></i>
    </a>
    <a class="mini-sidebar-link" title="Drying Yard" routerLink="/superadmin/drying-yard/compost-drying">
        <i class="fa-solid fa-wind"></i>
    </a>
    <a class="mini-sidebar-link" title="Manpower" routerLink="/superadmin/drying-yard/manpower">
        <i class="fa-solid fa-users"></i>
    </a>
    <a class="mini-sidebar-link" title="Inventory" routerLink="/superadmin/inventory">
        <i class="fa-solid fa-boxes-packing"></i>
    </a>
    <a class="mini-sidebar-link" title="Master Entry" routerLink="/superadmin/zone-master">
        <i class="fa-solid fa-database"></i>
    </a>
    <a class="mini-sidebar-link" title="Settings">
        <i class="fa-solid fa-cog"></i>
    </a>
    <a class="mini-sidebar-link" title="Logout">
        <i class="fa-solid fa-sign-in-alt"></i>
    </a>
</div>